.UploadWidget {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #eee;
  .FileInput {
    background: #ddd;
    flex: 1;
    label {
      &.dragOver {
        background: red;
        &.acceptFiles {
          background: green;
        }
      }
      height: 3em;
      display: block;
      cursor: pointer;
      &:hover {
        background: yellow;
      }
    }
    input[type="file"] {
      visibility: hidden;
    }
  }
  .ImagePreview {
    margin: 0.4em;
    .thumb {
      width: 15em;
    }
    display: flex;
  }
}
