@import "styles/_common.scss";
.YearNavigation {
  width: 100%;
  max-width: $content-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 999;
  font-size: 1.5rem;
  background: white;
  margin-top: 0.5em;
  height: 3rem;
  top: 2rem;
  font-weight: 300;
  .year {
  }
  a {
    text-decoration: none;
  }
  .next {
    &:after {
      content: " >";
    }
  }
  .last {
    &:before {
      content: "< ";
    }
  }
  .current {
    font-weight: 500;
  }
  .ok {
  }
  .empty {
    color: #bbb;
  }
}
