.Frame {
  // vector-effect: non-scaling-stroke;
  width: 100%;
  height: 100%;
  fill: none;
  // stroke: black;
  // stroke-width: 1px;
}
.cropOverlay {
  fill: rgba(black, 0.5);
  vector-effect: non-scaling-stroke;
  stroke: white;
  stroke-width: 1px;
}
.GridItem {
  position: relative;
}

.assign {
  position: absolute;
  font-size: 1.5rem;
  background: green;
  &.selected {
    background: grey;
  }
}
