Django
Jinja2
MarkupSafe
Pillow
Werkzeug
beautifulsoup4
django-appconf
django-classy-tags
django-debug-toolbar
django-extensions
django-model-utils
django-redis-cache
gunicorn
hiredis
ipdb
ipython
mysqlclient
nose
numpy
pypdf2
psycopg2
pyparsing
pytz
pyzmq
redis
requests
selenium
setproctitle
six
sqlparse
tornado
sorl-thumbnail
django-autocomplete-light>=2.2,<3.0
diff-match-patch
awesome-slugify
fuzzywuzzy
python-Levenshtein
Wand
raven
awscli
django-storages-redux
boto
certifi==2015.04.28
ptpython
celery
