Django==1.7
Jinja2
MarkupSafe
Pillow
Werkzeug
beautifulsoup4
certifi
django-appconf
django-classy-tags
django-compressor
django-debug-toolbar
django-extensions
django-model-utils
django-redis-cache
django-sekizai
gunicorn
hiredis
ipdb
ipython
--allow-external mysql-connector-python
mysql-connector-python==1.2.2
nose
pypdf2
psycopg2
pyparsing
pytz
pyzmq
redis
requests
selenium
setproctitle
six
sqlparse
tornado
-e git+git@github.com:mariocesar/sorl-thumbnail.git#egg=sorl_thumbnail
-e git+git@github.com:Haakenlid/django-autocomplete-light.git@v2#egg=autocomplete-light
diff-match-patch
