# vim: ft=systemd
# This file, when installed, configures the ubuntu web server to start all
# all required docker containers on startup.

[Unit]
Description=universitas.no website
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/bin/bash -c "cd /srv/tassen; ./run prod static dc up"
ExecStop=/bin/bash -c "cd /srv/tassen; ./run prod dc down"

[Install]
WantedBy=multi-user.target
