[Unit]
Description=universitas.no website
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/bin/bash -c "cd /srv/tassen; ./run prod dc up"
ExecStop=/bin/bash -c "cd /srv/tassen; ./run prod dc down"

[Install]
WantedBy=multi-user.target
