@import "styles/_common.scss";

.PdfList {
  display: grid;
  /* prettier-ignore */
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @include size(xs) {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 2rem;
  }

  .Issue {
    &.two {
      grid-column-end: span 2;
      .pdf {
        display: flex;
        .Faximile {
          padding-top: calc(143.5% * 0.5 - 1.35rem);
          &:nth-child(1) {
            margin-right: 1rem;
            z-index: 10;
            transform: scale(0.95) rotateZ(0deg) translateX(15%);
          }
          &:nth-child(2) {
            margin-left: 1rem;
            transform: scale(0.95) rotateZ(5deg) translateX(-15%);
          }
        }
      }
    }
    &:hover {
      .text {
        color: $dark-grey;
      }
    }
    .text {
      border-bottom: 1px solid #eee;
      margin-bottom: 0.5em;
      .name {
        font-weight: bold;
      }
      @extend %smaller;
      // font-size: 0.8em;
      display: flex;
      flex-direction: column;
      @include size(xs) {
        flex-direction: row;
      }
      align-items: center;
      justify-content: space-around;
    }
    .pdf {
      flex: 1;
      .Faximile {
        background: #eee;
        @extend %faximile;
        transition: transform 300ms ease;
        transition-delay: 100ms;
        transform: scale(0.95);
        &:hover {
          transform: scale(1) !important;
        }
        width: 100%;
        padding-top: 143.5%;
        img {
          top: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
