@import "styles/_common.scss";
.RelatedStories {
  border-top: $separator-line;
  padding-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  @include min-size(s) {
    grid-template-columns: 1fr 1fr 1fr;
    .sectionTitle {
      grid-column: 1/4;
    }
  }
}
.RelatedStory {
  a {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 16rem;
  }
  .title {
    font-size: 1.4rem;
    background: white;
  }
  img {
    min-height: 0;
    object-fit: cover;
    flex: 1 0;
  }
}
