{
  "presets": [
    ["env", {"modules": false, "loose": true}],
    "stage-1",
    "react"
  ],
  "plugins": [
    "lodash", "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        ["env"],
        "stage-1",
        "react"
      ],
    }
  }
}
