{
  "presets": [["env", { "modules": false, "loose": true }], "stage-1", "react"],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "development": { "plugins": ["import-asserts"] },
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": ["error", "warn"] }]
      ]
    },
    "test": { "presets": [["env"], "stage-1", "react"] }
  }
}
