.SearchField {
  display: flex;
  flex: 1;
  input {
    flex: 1;
  }
  &.isFetching {
    input {
      background: #ee5;
    }
  }
}
.ResultsPanel {
  .urlPanel {
    flex: 1 0
  }
  .urlPanel, .countPanel {
    padding: 5px 10px;
    margin: 5px ;
    background: #ddd;
  }
  display: flex;
  flex: 1 1 100%;
}
.PhotoList {
  overflow-y: scroll;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .Photo {
    box-sizing: border-box;
    display: flex;
    width: 150px;
    height: 190px;
    padding: 5px;
    margin: 5px 0;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      border-color: #ddd;
      background: #ddd;
    }
    small {
      height: 25px;
      line-height: 1;
    }
    .Thumb {
      max-width: 150px;
      max-height: 150px;
      .Frame {
        vector-effect: non-scaling-stroke;
        width: 100%;
        height: 100%;
        fill: none;
        stroke: black;
        // shape-rendering: crispEdges;
        stroke-width: 1px;
      }
      .cropOverlay {
        fill: rgba(black, 0.5);
        vector-effect: non-scaling-stroke;
        stroke: white;
        stroke-width: 2px;
      }
    }
  }
}
