{% extends "admin/base.html" %}

{% block extrahead %}
    {% include "_favicons.html" %}
    <script>
    $(document).ready(function (e) {
        $('.field-thumbnail>img').click(function (e) {
            var posX = $(this).offset().left,
                posY = $(this).offset().top;
            h_pos = Math.round(100 * (e.pageX - posX) / this.width);
            v_pos = Math.round(100 * (e.pageY - posY) / this.height);
            v_field = $(this).closest('tr').find('.field-from_top input');
            h_field = $(this).closest('tr').find('.field-from_left input');
            v_field.val(v_pos);
            h_field.val(h_pos);
        });
    });
    </script>
    <style>
      .field-from_top+.field-thumbnail>img{cursor: crosshair;}
        /* cancel out django default for now, or choices are white on white */
      .separator,
      #header a.choice:link,
      #header a.choice:visited,
      #header a.choice:hover {
        color: black;
        text-decoration: none;
      }
    </style>
{% endblock %}

{% block title %}
  {{ title }} | {{ site_title|default:_('Universitas admin') }}
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    {{ site_header|default:_('Universitas admin') }}
  </a>
</h1>
{% endblock %}
