@import "styles/_common.scss";
.Menu {
  height: 1.8rem;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #555;
  width: 100%;
  position: sticky;
  top: 0;
  .Level {
    display: flex;
    flex-direction: row;
    flex: 0 1 $content-width;
    align-items: center;
    height: 100%;
  }
  .Logo {
    height: 100%;
    padding: 1px 0.2rem;
    margin-right: 0.5rem;
    .universitas {
      fill: currentColor;
    }
  }
  .Sections {
    display: flex;
    flex-flow: row wrap;
  }
  .SectionItem {
    margin-left: 0.5rem;
  }
  .Search {
    margin-left: auto;
    padding: 0 0.2rem;
    display: flex;
    input {
      width: 11em;
      padding: 0.2em 0.2em;
      color: white;
      background-color: rgba(black, 0.3);
      border: none;
      &::placeholder {
        color: rgba(white, 0.5);
      }
    }
  }
}
