@import "styles/_common.scss";
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.Menu {
  height: 1.8rem;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #555;
  width: 100%;
  position: sticky;
  top: 0;
  .Level {
    display: flex;
    flex-direction: row;
    flex: 0 1 $content-width;
    align-items: center;
    height: 100%;
  }
  .Logo {
    height: 100%;
    padding: 1px 0.2rem;
    margin-right: 0.5rem;
    .universitas {
      fill: currentColor;
    }
  }
  .Sections {
    display: flex;
    flex-flow: row wrap;
  }
  .SectionItem {
    margin-left: 0.5rem;
    cursor: pointer;
    color: #eee;
    &:hover {
      color: white;
    }
    &.active {
      color: white;
      font-weight: bolder;
    }
  }
  .LanguageWidget {
    display: flex;
    .LanguageButton {
      color: $light-grey;
      padding: 0 0.2em;
      cursor: pointer;
      &.active {
        color: white;
      }
    }
  }
  .SearchWidget {
    margin-left: auto;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    .Icon {
      font-size: 1.6rem;
      color: #ddd;
      line-height: 1;
      &.fetching svg {
        transform-origin: 50% 50%;
        animation: spin 1s linear infinite;
      }
    }
    input {
      width: 11em;
      padding: 0.3em;
      margin: 0.2em;
      color: white;
      background-color: rgba(black, 0.3);
      border: none;
      &:focus {
        outline: none;
        background-color: rgba(black, 0.2);
      }
      &::placeholder {
        color: rgba(white, 0.5);
      }
    }
  }
}
