// Thumbnail image centered and contained in flexbox
@import 'styles/globals.scss';
.Thumb {
  display: flex;
  min-height: 0; // firefox
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.15);
  .CropBoxContainer,
  img {
    flex: 1 1 0;
    object-fit: contain;
    max-height: 100%;
  }
  &.dropshadow {
    // faximile
    background: none;
    img {
      flex: 0 0 auto;
      max-width: calc(100% - #{2 * $margin});
      max-height: calc(100% - #{2 * $margin});
      box-shadow: 0.2em 0.4em 0.5em rgba(black, 0.3);
    }
  }
}
