{% extends "base-template.html" %}
{% load thumbnail %}
{% load byline_image %}
{% load inline_elements %}
{% load advert_channel %}
{% block title %}universitas.no – {{ story.title }}{% endblock title %}
{% block columns %}
  {% advert "story column left" %}
  {% advert "story column right" %}
{% endblock columns %}
{% block content %}
<div class="main-content">
  <article class="row" id="story">
    {% include '_story_menu.html' %}
    <header class="small-12 columns">
{# Main image #}
      {% header_image %}
      <div class="header-text">
        {% if story.kicker %}
          <h2 id="kicker">{{ story.html.kicker }}</h2>
        {% endif %}
{# Main headline and lede #}
        <h1 class="headline">{{ story.html.title }}</h1>
        {% if story.lede %}
          <p class="lede">{{ story.html.lede }}</p>
        {% endif %}
      </div>
    </header>
   <div class="left-sidebar medium-2 columns">
{# bylines #}

    <div class="story-info">
      <div class="artikkeltype {{ story.section.slug }}">
        {{ story.story_type.name }}
      </div>
      <div class="temaord">
        {{ story.theme_word }}
      </div>
    </div>
    <div class="dateline">{{ story.publication_date | date:"D d. b Y" }}</div>
    <div class="bylines">
        {% for byline in story.byline_set.ordered %}
        <div class="byline">
        {# {% if byline.contributor.byline_image %} #}
          <div class="byline-photo">
            {% byline_image byline.contributor "100x100" %}
          </div>
        {# {% endif %} #}
        <div class="byline-text">
            <div class="credit">{{ byline.get_credit_display }}</div>
            <div class="name">{{ byline.contributor }}</div>
            {% if byline.title %}
              <div class="title">{{ byline.title }}</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="social-share sticky">
        {% with 'social-facebook social-twitter comments bookmark' as iconlist %}
          {% for icon in iconlist.split %}
            <div class="icon"><i class="fi-{{ icon }}"></i></div>
          {% endfor %}
        {% endwith %}
      </div>
   </div>
 </div>
  <main class="medium-10 columns">
     {{ story.get_html }}
  </main>
  </article>
    <section id="after" class="row">
    {% advert "story after" %}
      <div class="row">
        {% for related_group in story.related_items %}
          <div class="related large-6 columns">
          <h2>{{ related_group.title }}</h2>
          {% for related_item in related_group.items %}
          <article class="row">
            {% thumbnail related_item.image "{{ related_item.image.heigth }}x{{ related_item.image.width }}" as image %}
            <div class"related-image large-4 columns">
              <a href="{{ related_item.link }}">
                <img src="{{ image.url }}" alt="{{ related_item.image_alt }}">
              </a>
            </div>
            {% endthumbnail %}
          <div class="related-text large-8 columns">
            <h2 class="headline"> <a href="{{ related_item.link }}">{{ related_story.html.title }}</a> </h2>
            <p class="lede"> {{ related_story.html.lede }} </p>
          </div>
          </article>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% if story.disqus_enabled %}
    <div id="comments" class="large-8 columns">
      {% include '_disqus.html' %}
    </div>
  {% endif %}
  </section>
</div>
{% endblock content %}
