{% extends "base-template.html" %}
{% load thumbnail %}
{% block title %}universitas.no – {{ story.title }}{% endblock title %}
{% block content %}
  <article class="story row">
    <header class="small-12 columns">
      {% include '_image.html' with image=header_image %}
      {% if story.kicker %}
        <h2 id="kicker">{{ story.kicker }}</h2>
      {% endif %}
      <h1 id="headline">{{ story.title }}</h1>
      <p class="lede">{{ story.lede }}</p>
      <ul id="bylines">
        {% for byline in story.byline_set.all %}
          <li class = "byline">
            <span class="credit">{{ byline.get_credit_display }}: </span><span class="name">{{ byline.contributor }}</span>{% if byline.title %}<span class="title">, {{ byline.title }}</span>{% endif %}
          </li>
        {% endfor %}
      </ul>
    </header>

    <main class="medium-12 columns">
     {{ story.bodytext_html | safe }}
      {# {% for section in story.sections %} #}
      {# <section class="bodytext large-12 columns"> #}

      {# </section> #}
      {# {% endfor %} #}
    </main>
  </article>
    <section id="after" class="row">
      <div class="row">
        {% for related_group in story.related_items %}
          <div class="related large-6 columns">
          <h2>{{ related_group.title }}</h2>
          {% for related_item in related_group.items %}
          <article class="row">
            {% thumbnail related_item.image "{{ related_item.image.heigth }}x{{ related_item.image.width }}" as image %}
            <div class"related-image large-4 columns">
              <a href="{{ related_item.link }}">
                <img src="{{ image.url }}" alt="{{ related_item.image_alt }}">
              </a>
            </div>
            {% endthumbnail %}
          <div class="related-text large-8 columns">
            <h2 class="headline"> <a href="{{ related_item.link }}">{{ related_story.title }}</a> </h2>
            <p class="lede"> {{ related_story.lede }} </p>
          </div>
          </article>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div id="comments" class="large-8 columns"></div>
  </section>
{% endblock content %}
