{% extends "base-template.html" %}
{% load thumbnail %}
{% load inline_elements %}
{% block title %}universitas.no – {{ story.title }}{% endblock title %}
{% block content %}
  <article class="story row">
    {% include '_story_menu.html' %}
    <header class="small-12 columns">
{# Main image #}
      {# {% include '_image.html' with image=header_image %} #}
      {% header_image %}
      {% if story.kicker %}
        <h2 id="kicker">{{ story.html.kicker }}</h2>
      {% endif %}
{# Main headline and lede #}
      <h1 id="headline">{{ story.html.title }}</h1>
      <p class="lede">{{ story.html.lede }}</p>
{# bylines #}
      <ul id="bylines">
        {% for byline in story.byline_set.all %}
          <li class = "byline">
            <span class="credit">{{ byline.get_credit_display }}: </span><span class="name">{{ byline.contributor }}</span>{% if byline.title %}<span class="title">, {{ byline.title }}</span>{% endif %}
          </li>
        {% endfor %}
      </ul>
    </header>
    <main class="medium-12 columns">
     {{ story.get_html }}
    </main>
  </article>
    <section id="after" class="row">
      <div class="row">
        {% for related_group in story.related_items %}
          <div class="related large-6 columns">
          <h2>{{ related_group.title }}</h2>
          {% for related_item in related_group.items %}
          <article class="row">
            {% thumbnail related_item.image "{{ related_item.image.heigth }}x{{ related_item.image.width }}" as image %}
            <div class"related-image large-4 columns">
              <a href="{{ related_item.link }}">
                <img src="{{ image.url }}" alt="{{ related_item.image_alt }}">
              </a>
            </div>
            {% endthumbnail %}
          <div class="related-text large-8 columns">
            <h2 class="headline"> <a href="{{ related_item.link }}">{{ related_story.html.title }}</a> </h2>
            <p class="lede"> {{ related_story.html.lede }} </p>
          </div>
          </article>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% if story.disqus_enabled %}
    <div id="comments" class="large-8 columns">
      {% include '_disqus.html' %}
    </div>
  {% endif %}
  </section>
{% endblock content %}
