{% extends "base-template.html" %}
{% load thumbnail %}
{% load advert_channel %}
{% load parse_markup %}
{% block title %}universitas.no – Norges største studentavis.{% endblock title %}
{% block columns %}
  {% advert "frontpage column left" %}
  {% advert "frontpage column right" %}
{% endblock columns %}
{% block content %}
  <div class="main-content">
    <div id="frontpage" class="row">
    {% advert "frontpage banner" %}
    {% for item in frontpage_items %}
      <article class="{{ item.css_width }} columns">
        <div class="story-block {{ item.css_height }} {{ item.story.html_class }}">
          {% if item.story.kicker %}
            <h2 class="kicker-block">{{ item.story.kicker|inline_tags }}</h2>
          {% endif %}
          {% if item.image %}
            <div class="image-block">
            {% if item.story.vignette %}
              <div class="vignette">{{ item.story.vignette }}</div>
            {% endif %}
            {% if editor %}
                {% include "_frontpage-module-edit-menu.html" with item=item %}
            {% endif %}
              {% thumbnail item.image item.image_size crop=item.crop as image %}
                <a href="{{ item.story.url }}"><img src="{{ image.url }}" alt="{{ item.story.headline|strip_tags }}"></img></a>
              {% endthumbnail %}
            </div>
          {% endif %}
          <div class="text-block">
            {% if item.story.headline %}
              <a href="{{ item.story.url }}">
                <h1 class="frontpage-headline {{ item.headline_class }}">
                    {{ item.story.headline|inline_tags }}
                </h1>
              </a>
            {% endif %}
            {% if item.story.lede %}
              <p class="lede">{{ item.story.lede|inline_tags }}</p>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
    </div>
  </div>
{% endblock content %}
