$margin: .5rem;
.EditImage {
  svg {
    display: block;
  }
  pointer-events: all;
  background: white;
  display: flex;
  flex-direction: column;
  .ImageData {
    flex: 0;
    font-size: smaller;
    td, th {
      padding:.3em 1em;
    }
    td {
      user-select: auto;
    }
    pre {
      font: inherit;
    }
  }
  .CropPreview {
    display: flex;
    margin-left: -$margin;
    .PreviewImg {
      margin-left: $margin;
    }
  }
  .CropBox {
    flex: 1;
    display: flex;
    margin: $margin 0;
    flex-direction: column;
    .masterImg {
    }
  }
  .Buttons {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    button {
      cursor: pointer;
      background: #ddd;
      padding: .2em;
      margin: .2em;
      &:hover {
        background: lighter(blue, 30%);
      }
    }
  }
}
