@import '_colors.scss';

$univ-sans: 'Roboto', sans-serif;
$univ-serif: 'Roboto Slab', serif;
$univ-condensed: 'Roboto Condensed', sans-serif;

$content-width: 1200px;
$row-height: 6rem;
$separator-line: 1px solid #eee;
$logowidth: 8.5rem;
$menuheight: 2.5rem;
$gridgap: 1rem;
$pad: 0.5rem;

%headline {
  font-family: $univ-condensed;
  font-weight: 600;
  font-style: normal;
  color: $dark-grey;
  margin-top: 0.3rem;
  line-height: 1;
}

%smaller {
  font-size: 0.9em;
  line-height: 1.2em;
  color: $medium-grey;
}

%faximile {
  box-shadow: 1px 4px 8px -1px rgba(0, 0, 0, 0.3);
}

%section-vignette-text {
  font-family: $univ-serif;
  font-weight: 700;
}

$breakpoints: (
  xs: 450px,
  s: 700px,
  m: 900px,
  l: 1400px,
);

@mixin min-size($size) {
  @media only screen and (min-width: map_get($breakpoints, $size)) {
    @content;
  }
}

@mixin max-size($size) {
  @media only screen and (max-width: map_get($breakpoints, $size) - 1px) {
    @content;
  }
}

@function str-replace($search, $replace, $string) {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        $search,
        $replace,
        str-slice($string, $index + str-length($search))
      );
  }
  @return $string;
}
