// internet explorer stuff

.IE11 {
  .NewsFeed {
    overflow: visible;
    display: flex;
    display: grid;
    flex-flow: row wrap;
    min-height: 100vh;
    margin-right: -$gridgap;
    .col-6 {
      flex-basis: 100%;
    }
  }
  .FeedItem {
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    flex: 1;
    flex-basis: 40%;
    margin-right: $gridgap;
    margin-bottom: $gridgap;
  }
  .FeedImage {
    flex: 1;
    .inner {
      height: 100%;
      background-size: cover !important;
    }
  }
  .StoryImage {
    display: block !important;
  }
  .StoryHead {
    max-height: none !important;
  }
  .mainContent {
    main {
      flex: 1;
    }
  }
  .Byline {
    flex-basis: auto;
  }
  .ContactGrid {
    display: flex;
    flex-flow: row wrap;
    margin: -1rem;
  }
  .ContactCard {
    display: flex;
    flex: 1;
    margin: 1rem;
    flex-basis: 20rem;
    flex-flow: column wrap;
    .thumb {
      order: -2;
      height: 9rem;
      width: auto;
    }
    .Field {
      min-height: 2em;
      &.name {
        order: -1;
      }
    }
  }
}
