// fallback for no css grid

@mixin nogrid() {
  .Level {
    flex-basis: $menuheight;
  }
  .NewsFeed {
    overflow: visible;
    display: flex;
    display: grid;
    flex-flow: row wrap;
    margin-right: -$gridgap;
    .col-6 {
      flex-basis: 100%;
    }
  }
  .FeedItem {
    position: relative;
    min-height: 20rem;
    .Vignette {
      top: 0;
      position: absolute;
    }
    &.col-6 {
      @for $n from 1 through 6 {
        .row-#{$n} {
          min-height: 8rem * $n;
        }
      }
    }
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 40%;
    margin-right: $gridgap;
    margin-bottom: $gridgap;
  }
  .FeedImage {
    flex: 1;
    .inner {
      height: 100%;
      background-size: cover !important;
    }
  }
  .StoryImage {
    display: block !important;
  }
  .StoryHead {
    max-height: none !important;
  }
  .mainContent {
    main {
      flex: 1;
    }
  }
  .Byline {
    flex-basis: auto;
  }

  .PdfList,
  .ContactGrid {
    display: flex;
    flex-flow: row wrap;
    margin: -1rem;
  }
  .PdfList {
    .Issue {
      flex-basis: 16.5rem;
      margin: 1rem;
      &.two {
        flex-basis: 35rem;
      }
    }
  }

  .ContactCard {
    height: 9rem;
    display: flex;
    flex: 1;
    margin: 1rem;
    flex-basis: 20rem;
    flex-flow: column wrap;
    .thumb {
      margin-right: 1rem;
      height: 9rem;
      width: auto;
      order: -2;
    }
    .Field {
      min-height: 1.8em;
      &.name {
        order: -1;
      }
    }
  }
}
.IE.Universitas {
  @include nogrid;
}
@supports not (display: grid) {
  .Universitas {
    @include nogrid;
  }
}
