@import "./_sanitize.scss";
@import "./_common.scss";
// @import "./_googlefonts.scss";  // use head tag instead
@import "./_internetexplorer.scss";

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: $univ-sans, sans-serif;
  font-size: 16px;
}

img,
iframe {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headline;
}

hr {
  margin: 2rem 1rem;
  border: none;
  border-top: 1px solid #ddd;
}

.Universitas {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.PageSwitch {
  flex: 1;
  display: flex;
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: minmax(auto, $content-width);
  @media (max-height: 750px) and (min-width: $content-width) and (max-width: 1400px) {
    $width: ($content-width / 750px) * 100vh;
    grid-template-columns: minmax(auto, $width);
  }
  .Page {
    flex-basis: calc(#{$content-width} - #{$pad});
    margin: $pad;
    grid-area: 1/1/2/2;
  }
}

.univTable {
  margin-bottom: 1rem;
  width: 100%;
  caption {
    @extend %headline;
    font-size: 1.3rem;
    margin: 0.5em;
  }
  th,
  td {
    text-align: left;
    padding: 0.2em 0.5em;
  }
  &.prices {
    th,
    td {
      text-align: left;
      &:not(:first-child) {
        width: 8rem;
        text-align: right;
      }
    }
  }
  thead {
    // background: lighten(#bbb, 10%);
  }
  tr {
    &:nth-child(even) {
      background: lighten(#bbb, 20%);
    }
  }
}
