@charset "UTF-8";
 #story{
  .header-text{
    font-size: 3em;
    line-height: 1.2;
    .lede {
      color: $medium-grey;
    }
    .headline{
      color: $dark-grey;
    }
  }
  .mellomtittel {
    color: $dark-grey;
    font-size: 1.3rem;
  }

  .question {
    font-weight: bold;
    font-style: italic;
  }

  .bodytext {
    @extend .medium-9;
    @extend .columns;
  }

  .inline-full {
    @extend .medium-9;
    @extend .columns;
  }

  .inline-left {
    @extend .medium-3;
    @extend .columns;
    @extend .left;
  }

  .inline-right {
    @extend .medium-3;
    @extend .columns;
    @extend .right;
  }

  main .row {
    border-top: 1px solid $light-grey;
  }

  .inline-aside {
    background: #f5f5f5;
    h2 {
      font-size: 1rem;
    }

    p, ul li {
      font-size: 0.8rem;
    }

    $listindent: .5rem;

    ul {
      list-style: disc outside none;
      // margin-left: 0;
      padding-left: $listindent;
      li {
        padding-left: $listindent;
      }
    }
  }

  .inline-pullquote {
    display: block;
    font-style: italic;
    color: $light-grey;
    padding: 0 2rem;

    bq {
      display: block;
      // padding: .5rem 2rem 0 2rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: lighter;
    }
    .by {
      // padding: 0 2rem .5rem 2rem;
      font-size: 0.8rem;
      text-align: right;
    }

  }

  .image-caption {
    font-size: 0.8rem;
    color: $light-grey;
  }

}