@import 'styles/_common.scss';
.Story {
  .Caption {
    @extend %smaller;
    background: white;
    margin: 1em 0;
    .stikk {
      font-weight: bold;
      text-transform: uppercase;
    }
    .creditline {
      float: right;
      text-transform: uppercase;
    }
  }
  .StoryImage {
    display: flex;
    width: 100%;
    flex-direction: column;
    .Caption {
      margin: 0.2em 0;
    }
    .imgWrapper {
      // flex: 1;
      // height: 100%;
      min-height: 0;
      img {
        width: 100%;
        height: auto;
        @media (max-height: 1500px) {
          min-height: 20vh;
          @include max-size(s) {
            min-height: 40vh;
          }
        }
        object-fit: cover;
        &.autoCrop {
          max-height: 85vh;
        }
        &.diagram {
          object-fit: scale-down;
        }
        &.illustration {
          // object-fit: scale-down;
        }
      }
    }
  }
}
