{% extends "base_template.html" %}
{% block title %}
	500 Internal Server Error
{% endblock title %}
{% block content %}
	<H1>500 Internal server error</h1>
	<p>Something went wrong with your request. This has caused the nuclear reactor powering the site to reach critical mass and melt down. Also, an army of angry orcs has captured the Knutepunkt team and is holding us for ransom. All thanks to you.</p>
	<p>We will try to fix the situation as quickly as possible. Sorry for the inconvenience.</p>
{% endblock content %}
