.StoryImageItem {
  margin: 0.3rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #bbb;
  // min-height: 13rem;
  // height: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 2.5rem 2fr 4fr;
  // grid-template-rows: 15rem;
  grid-gap: 0.5rem;
  .actions {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .PhotoWidget {
    grid-column-start: 2;
    .Thumb {
      min-height: 10rem;
      max-height: 15rem;
    }
  }
  form {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    > :first-child {
      flex: 1;
    }
    .wrapForm .ModelField {
      flex: 1 1 7rem;
      min-width: 7rem;
    }
  }
}

.ImageData {
  display: flex;
  flex-direction: column;
  flex: 1;
  .PhotoStats {
  }
  .Thumb {
    height: 15rem;
    flex: 1;
    .CropBoxContainer {
      justify-content: center;
    }
  }
}
