{% extends "base-template.html" %}
{% load thumbnail %}
{% block title %}
  PDF-arkiv 
{% endblock title %}
{% block content %}
<div class="row">
<div class="small-12 columns">
  <h1>PDF-arkiv</h1>
  <p>Her finner du hele avisa i PDF-format. PDF-ene veier normalt under 20MB.</p>
  {% for issue in issue_list %}
    {% ifchanged issue.publication_date.year %}
      {% if not forloop.first %}
        </ul>
      {% endif %}
      <h2>{{ issue.publication_date.year }}</h2>
      <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
    {% endifchanged %}
    {% for pdf in issue.pdfs.all %}
      <li class="print-issue">
      <a href="{{ pdf.pdf.url }}">
        <div class="label">
          <span class="number">{{ issue.issue_name }}</span>
          <span class="date">{{ issue.publication_date | date:"l j. F" }}</span>
        </div>
        <div class="frontpage">
          {% thumbnail pdf.get_thumbnail '300' as thumb  %}
          <img class="faximile" src="{{ thumb.url }}" ></img>
          {% endthumbnail %}
        </div>
      </a>
      </li>
      {% endfor %}
  {% endfor %}
  </ul>
</div></div>
{% endblock content %}
