{% extends "base-template.html" %}
{% block title %}
  Utgivelsesplan {{ year }}
{% endblock title %}
{% block content %}
  <h1>Utgivelsesplan for {{ year }}</h1>
<p>Magasin er Universitas' månedlige featurebilag</p>
<p>Velkomstbilaget Universitas' årlige velkomstmagasin for nye og gamle studenter. Det samme bilaget legges ved i avisenes to første utgaver</p>
<table class="foundation-table">
   <thead>
   <tr>
     <th>Nr</th>
     <th>Bilag</th>
     <th>Utgivelsesdato</th>
     <th>Reklamefrist</th>
   </tr>
   </thead>
   <tbody>
  {% for issue in issue_list %}
    <tr>
      <td>{{ issue.number }}</td>
      <td>{{ issue.get_issue_type_display }}</td>
      <td>{{ issue.publication_date }}</td>
      <td>{{ issue.advert_deadline }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}