{% extends "base-template.html" %}
{% load thumbnail %}
{% block title %}
  PDF archive
{% endblock title %}
{% block content %}
<div class="row">
<div class="small-12 columns">
  <h1>PDF-arkiv</h1>
  <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
  {% for issue in  issues %}
    {% for pdf in issue.pdfs.all %}
      <li>
        {% thumbnail pdf.get_thumbnail '300' as thumb  %}
        <a href="{{ pdf.pdf.url }}">
        <img class="pdf-faksimile" src="{{ thumb.url }}" ></img>
        </a>
        {% endthumbnail %}
      <div class="pdf-date">
        {{ issue.publication_date | date:"DATE_FORMAT" }}
      </div>
      </li>
      {% endfor %}
  {% endfor %}
  </ul>
</div></div>
{% endblock content %}