.ZoomSlider {
  height: 100%;
  display: flex;
}
.Filters {
  // background: blue;
}
.ZoomButton {
  cursor: pointer;
  opacity: 0.3;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    opacity: 1;
  }
  &:hover {
    background: rgba(black, 0.3);
  }
  .Icon {
    font-size: 1.5rem;
    height: 1em;
    width: 1em;
  }
}
