/*
Sass::SyntaxError: ".bodytext" failed to @extend ".medium-9".
The selector ".medium-9" was not found.
Use "@extend .medium-9 !optional" if the extend should be able to fail.


Backtrace:
/srv/local.universitas.no/source/assets/scss/typografi.scss:13
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/util/subset_map.rb:106:in `block in each_value'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/util/subset_map.rb:106:in `each'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/util/subset_map.rb:106:in `each_value'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/tree/visitors/extend.rb:16:in `visit'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/tree/root_node.rb:39:in `css_tree'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/engine.rb:274:in `render'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:371:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:186:in `each'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.3.0/lib/sass/plugin/compiler.rb:284:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:150:in `call'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:150:in `block in _wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:145:in `loop'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:145:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:43:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".bodytext\" failed to @extend \".medium-9\".\A The selector \".medium-9\" was not found.\A Use \"@extend .medium-9 !optional\" if the extend should be able to fail.\A "; }
