@charset "UTF-8";

$column-width: 180px;
$column-gutter: 20px;

.content-wrapper {
  max-width: $row-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

%column {
  @extend .show-for-large-up;
  position: absolute;
  margin: 0 $column-gutter/2;
  width: $column-width;
  top: 0px;
  height: 100%;
}

.left-content {
  @extend %column;
  left: 0px;
}

.right-content {
  @extend %column;
  right: 0px;
}

@media #{$large-up} {
  .left-content ~ .main-content {
    margin-left: $column-width + $column-gutter;
  }
  .right-content ~ .main-content {
    margin-right: $column-width + $column-gutter;
  }
}

.annonse {
  padding: 10px 0 10px 0;
  position: relative;
  clear: both;
  &:before {
    content: 'annonse';
    font-size: 10px;
    line-height: 10px;
    color: $light-grey;
    position: absolute;
    top: 0;
    left: 0;
  }
}