{% extends "info-page.html" %}
{% load thumbnail %}
{% block title %}
  Annonseinfo
{% endblock title %}
{% block main_content %}
<div class="row">
  <div class="small-12 columns">
    <h1>Annonser i Universitas</h1>
    <p>Avisen har et opplag på 14 000 og distribueres til læresteder tilknyttet SiO, blant annet Universitetet i Oslo, Handelshøyskolen BI, Høgskolen i Oslo og Akershus, Idrettshøgskolen, Musikkhøgskolen, Politihøgskolen, Kunsthøgskolen og Menighetsfakultetet.
  </div>
  <div class="medium-8 columns">
    <table class="foundation-table">
      <caption>Annonsepriser</caption>
      <tbody>
      <tr><th>Modul</th><th>Bredde</th><th>Høyde</th><th>Pris</th>
      <tr><td>Modul 2 forside</td><td>245mm</td><td>55mm</td><td>9100,-</td>
      <tr><td>Helside</td><td>245mm</td><td>355mm</td><td>17 560,-</td>
      <tr><td>Halvside stående</td><td>145mm</td><td>355mm</td><td>10 860,-</td>
      <tr><td>Halvside liggende</td><td>245mm</td><td>177mm</td><td>9050,-</td>
      <tr><td>Modul 3</td><td>145mm</td><td>177mm</td><td>5430,-</td>
      <tr><td>Modul 4</td><td>95mm</td><td>355mm</td><td>7245,-</td>
      <tr><td>Modul 5</td><td>245mm</td><td>70mm</td><td>3620,-</td>
      <tr><td>Modul 6</td><td>145mm</td><td>70mm</td><td>2180,-</td>
      <tr><td>Modul 7</td><td>95mm</td><td>210mm</td><td>4350,-</td>
      <tr><td>Modul 8</td><td>45mm</td><td>355mm</td><td>3620,-</td>
      <tr><td>Modul 9</td><td>95mm</td><td>140mm</td><td>2900,-</td>
      <tr><td>Modul 10</td><td>95mm</td><td>70mm</td><td>1450,-</td>
      </tbody>
    </table>
    <table class="foundation-table">
      <caption>Tillegg</caption>
      <tbody>
      <tr> <td>Farge per annonse</td> <td>1575,-</td>
      <tr> <td>Nyhetsside</td> <td>800,-</td>
      <tr> <td>Kulturside</td> <td>600,-</td>
      </tbody>
    </table>
    <table class="foundation-table">
      <caption>Annonsepriser på nettsiden</caption>
      <tbody>
        <tr><th>Plassering</th><th>bredde</th><th>høyde</th><th>pris/uke</th></tr>
        <tr><td>Toppbanner</td><td>768px</td><td>150px</td><td>2625,-</td></tr>
        <tr><td>Stolpe</td><td>172px</td><td>500px</td><td>2625,-</td></tr>
        <tr><td>Knapp</td><td>180px</td><td>150px</td><td>550,-</td></tr>
      </tbody>
    </table>
  </div>
  <div class="medium-4 columns">
    <img width="250" height="519px" title="Modulkart" alt="" src="/static/images/modulkart_liten.png"/>
  </div>
</div>
{% endblock main_content %}