{% extends "base-template.html" %}
{% load cache %}
{% block content %}
{% block main_content %}
{% endblock main_content %}
{% cache 60 * 60 staff %}
  <div class="medium-8 columns">
    <h3>Generell kontaktinfo</h3>
    <table>
    <tr><td>Telefon:<td>{{ office.phone }}
    <tr><td>Faks:<td>{{ office.fax }}
    <tr><td>Postadresse:<td>{{ office.mail }}
    <tr><td>Besøksadresse:<td>{{ office.address }}
    </table>
    <h3>Utgivelsesplan</h3>
    <p>Neste avis er nr {{ issues.next.number }} og kommer ut {{ issues.next.publication_date }}.</p>
    <p><a href="{% url 'pub_plan' %}">Se hele planen.</a>

    <h3>Annonsering</h3>
    {% with seller=staff.4 %}
    <p>Kontakt {{ seller.name }} på mail <a href="mailto:{{ seller.email }}">{{ seller.email }}</a> tlf: {{ seller.phone }}, eller <a href="{% url 'ad_info' %}">les mer om annonsering.</a>
    {% endwith %}

  </div>
  <div class="medium-8 columns">
    <h3>Redaksjonen</h3>
    <table>
    {% for person in staff %}
      <tr>
        <td>{{ person.position }}:
        <td><a href="mailto:{{ person.email }}">{{ person.name }}</a>
        <td>{{ person.phone }}
    {% endfor %}
    </table>
  </div>
{% endcache %}
{% endblock content %}
