{# base template for react.js apps #}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "_favicons.html" %}
    {% block head %}{% endblock head %}
    {% render_bundle 'vendor' %}
  </head>

  <body>
    {% block content %}
      <p>Main content of page</p>
    {% endblock content %}
    {% render_bundle 'commons' %}
    {% block final %}{% endblock final %}
  </body>
</html>
