@charset "UTF-8";

$section-map: $section-colors;

$menu-height: 30px;
$panel-height: 300px;
$menu-padding: 5px;
$menu-color: #888;
$fontsize: $menu-height - $menu-padding * 2;

%menu-text {
  color: white;
  margin: $menu-padding;
  font-size: $menu-height - $menu-padding * 2;
  font-size: $fontsize;
  line-height: normal;
  font-weight: bolder;
}

%onscreen {
  top: $menu-height;
}

%offscreen {
  transition: top .2s ease-in .1s;
  padding: 15px 0;
  position: absolute;
  width: 100%;
  background: #BBB;
  // overflow: hidden;
  z-index: -100;
  top: ($panel-height + $menu-height) * -1;
  height: $panel-height;
  &:hover{
    @extend %onscreen;
    z-index: -10;
  }
}
body > main{
  margin-top: $menu-height + $menu-padding;
}

#sticky-top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $menu-height;
  z-index: 1000;
  a {
    color: white;
  }
}

.menu-wrapper {
  @extend .content-wrapper;
  padding: 0 $column-gutter/2;
  line-height: 1.1;
  height: $menu-height;
  h2 {
    color: white;
    font-size: 1rem;
  }
  h3 {
    color: white;
    font-size: 1rem;
  }
  p {
    color: white;
    font-size: .8rem;
  }
  .menu-background {
    position: fixed;
    height: $menu-height;
    top:0;
    left:0;
    right:0;
    background: $menu-color;
  }
  .follow-us {
    font-size: 1.2rem;
    a {
      color: #EEE;
      &:hover {
        color: #FFF;
      }
    }
  }
  .menu-right, .menu-left {
    position: relative;
  }
  &:hover{
    .section-panel, .logo-panel, .default-panel {
      @extend %onscreen;
    }
  }
}
.menu-left {
  width: 160px;
}
.menu-right {
  margin-left: 160px;
}


#logo {
  position: relative;
  float: left;
  margin: 0;
  height: $menu-height;
  background: $menu-color;
  padding-right: $menu-padding * 2;
  .main-logo{
    height: 100%;
    .text {
      fill: white;
    }
  }
}
.logo-panel{
  @extend %offscreen;
  background: $menu-color;
  padding-left: 400%;
  left: -400%;
  width: 500%;
}
.sections {
  float: left;
  background: white;
  border-left: $menu-padding solid #FFF;
  .section-item {
    display: inline-block;
    float: left;
    background: #333;
    border-right: $menu-padding solid #FFF;
    min-width: $menu-height + $menu-padding;
    height: $menu-height;
    &:hover + .section-panel {
      z-index:-5;
    }
  }
  .section-title {
    @extend %menu-text;
    font-family: $univ-serif;
    opacity: 0;
    display: block;
    transition: all 0.2s ease-in .1s;
    max-width: 0;
    overflow: hidden;
    .menu-wrapper:hover & {
      @include breakpoint(large up) {
        max-width: $menu-height * 4;
        opacity: 1;
      }
    }
  }
}

%input-max {
  width: 180px;
  padding: 3px 5px;
}

%input-min {
  transition: all 0.2s ease-out;
  width: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.search-input {
  @extend %input-min;
  &:focus, &:hover, #search:hover & {
    @extend %input-max;
    outline-style: none;
  }
  &:active {
  }
}

#search {
  float: right;
  .search-form {
    float: right;
    .search-input {
      color: $dark-grey;
      border: none;
      border-radius: 1px;
      font-size: 14px;
      height: 22px;
      margin: 4px 0 4px 5px;
      line-height: 1;
    }
    .hidden-input {
      position: absolute;
      left: -9999px;
      visibility: hidden;
    }
  }
  .search-icon {
    @extend %menu-text;
    float: left;
    margin: 2px;
  }
}

@each $section-name, $color in $section-map {
  .section-item.#{$section-name} {
    background-color: $color;
    & + .section-panel {
      background-color: $color;
    }
  }
}

.section-panel{
  @extend %offscreen;
  padding-right: 100%;
  right: -100%;
  width: 200%;
  z-index: -30;
  overflow: hidden;
}
.default-panel {
  @extend .section-panel;
  z-index: -20;
  .faximile {
    @extend %faximile;
  }
}


.panel-1 {
  padding-left: 0;
  @extend .small-12;
  @extend .columns;
}
.panel-2, .panel-3 {
  @extend .small-6;
  @extend .columns;
}
