@import "styles/_common.scss";
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.TopMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  user-select: none;
  .Group {
    align-items: center;
  }
  .Level {
    min-height: $menuheight;
    background-color: color-get("nyheter");
    width: 100%;
    display: flex;
    justify-content: center;
    .inner {
      width: 100%;
      max-width: $content-width;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &.one {
      .Sections {
        display: none;
        @include size(s) {
          display: flex;
        }
      }
      .pageLinks,
      .SearchWidget,
      .LanguageWidget {
        display: none;
        @include size(l) {
          display: flex;
        }
      }
      .MenuIcon {
        @include size(l) {
          display: none;
        }
      }
    }
    &.two {
      @include size(l) {
        display: none;
      }
      .inner {
        display: flex;
        flex-flow: row wrap;
        .SearchWidget {
          font-size: 1.4rem;
          padding: $pad;
          min-width: 80%;
          flex: 1;
          input {
            min-width: 2em;
            width: 2em;
            max-width: none;
          }
        }
        .MenuItem {
          padding: 0.5 * $pad;
        }
        .Sections,
        .Group {
          font-size: 1.2rem;
          padding: 2 * $pad;
          white-space: pre;
          flex: 1;
          flex-basis: 40%;
          align-items: center;
          display: flex;
          flex-direction: column;
        }
      }
      position: absolute;
      z-index: -10;
      background-color: #333;
      transform: translateY(-100%);
      top: 100%;
      transition: transform 150ms ease;

      &.expanded {
        transform: translateY(0);
      }
    }
  }
  .logoLink {
    .Logo {
      width: $logowidth;
      margin-right: 1rem;
      height: 100%;
      color: white;
      .universitas {
        fill: currentColor;
      }
    }
  }

  .pageLinks {
    flex: 1;
  }
  .Sections {
    flex: 1;
    flex-flow: row wrap;
  }
  .MenuItem {
    text-decoration: none;
    padding-right: 0.6em;
    cursor: pointer;
    color: #eee;
    &:hover {
      color: white;
    }
    &.active {
      color: white;
      font-weight: bolder;
    }
  }
  .LanguageWidget {
    text-transform: uppercase;
    .LanguageButton {
      opacity: 0.5;
      padding: 0 0.2em;
      cursor: pointer;
      &.active {
        opacity: 1;
      }
    }
  }
  .Icon,
  .MenuIcon {
    font-size: 1.7rem;
    line-height: 1;
    padding: 0;
  }
  .MenuIcon {
    cursor: pointer;
    color: #ddd;
    &:hover {
      color: #fff;
    }
  }
  .SearchWidget {
    margin-left: auto;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    .Icon {
      font-size: 1.4em;
      &.fetching svg {
        transform-origin: 50% 50%;
        animation: spin 1s linear infinite;
      }
    }
    input {
      margin-left: 0.3em;
      padding: 0.3em;
      color: white;
      background-color: rgba(black, 0.3);
      border: none;
      flex: 1;
      max-width: 12em;
      &:focus {
        outline: none;
        background-color: rgba(black, 0.2);
      }
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
}
