.PageSwitch {
  .Page {
    transition: opacity 200ms ease;
    background: white;
    opacity: 0;
  }
  .page-enter {
    transition: opacity 200ms ease 100ms;
    opacity: 0;
  }
  .page-enter-done,
  .page-enter-active {
    opacity: 1;
  }
  .page-exit {
    opacity: 0;
  }
}
