.PageSwitch {
  .Page {
    background: white;
    overflow: hidden;
  }
  .page-enter {
    opacity: 0;
  }
  .page-enter-active {
    opacity: 0;
  }
  .page-enter-done {
    transition: opacity 150ms ease-out;
    opacity: 1;
  }
  .page-exit {
    transition: opacity 50ms ease;
    opacity: 0;
  }
}
