.infoParent {
  position: relative;
  &:hover .infoBox {
    transform: translateY(0);
  }
}
.infoBoxWrapper {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 80;
  .infoBox {
    display: block;
    top: inherit;
    transform: translateY(105%);
    transition: transform 100ms ease;
    background: rgba(0,0,0,0.8);
    font-size: 13px;
    line-height: 1.2;
    color: white;
    padding: .3em;
    margin: 0;
    div {
      display: inline-block;
    }
    .infoRow {
      padding-right: 1em;
      .value {
        font-weight: 500;
      }
      .label {
        padding-right: .2em;
      }
    }
  }
}
