symbol {
  overflow: visible;
}
// @keyframes spin {
//   from { transform: rotate(0deg) }
//   to   { transform: rotate(360deg) }
// }
%feature {
  shape-rendering: geometricPrecision;
  overflow: visible;
  transition: all 500ms;
  cursor: help;
  text {
    transition: inherit;
    opacity: 0;
    pointer-events: none;
    tspan {
      fill: white;
      vector-effect: non-scaling-stroke;
      stroke: black;
      stroke-opacity: 0.4;
      stroke-width: 4;
      font-weight: 500;
      paint-order: stroke;
    }
  }
  circle, path, rect, use {
    overflow: visible;
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke: white;
  }
  .front {
    transition: all 300ms;
    stroke-opacity: 0.8;
    stroke-width: 1.2;
    // pointer-events: none;
  }
  .back {
    stroke-opacity: 0.0;
    stroke-width: 15;
    // pointer-events: stroke;
  }
  .cross {
    transition: all 300ms;
    pointer-events: none;
    stroke-opacity: 0.0;
    // transform-origin: 50% 50%;
    // animation: spin 10000ms linear infinite;
    // transform: rotate(45deg);
  }

  &:hover {
    .cross {
      stroke-opacity: 1;
    }
    .front {
      stroke-opacity: 1;
      stroke-width: 3;
    }
    text {
      opacity: 1;
    }
  }
}
svg.overlay .feature { @extend %feature; }
