.cropInfo {
  top: 0;
  left: 0;
  position: absolute;
  display: table;
  .infoRow {
    display: table-row;
    .label, .value {
      display: table-cell;
    }
  }
}

.overlayWrapper {
  .dragKing {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: move;
  }
  svg.overlay {
    height: 100%;
    z-index: 10;
    shape-rendering: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    path, rect, ellipse {
      vector-effect: non-scaling-stroke;
      fill: rgba(0,0,0,0.0);
    }
    .outside {
      fill: rgba(0,0,0,0.5);
    }
    .centerPoint {
      position: relative;
      .handle {
        cursor: crosshair;
        opacity: 0;
        &:hover + .cross {
          stroke: rgba(255,255,0,1.0);
        }
      }
      .cross {
        pointer-events: none;
        // shape-rendering: crispEdges;
        vector-effect: non-scaling-stroke;
        stroke: rgba(255,255,0,0.5)
      }
    }
    .inside {
      .box {
        stroke: rgba(255,255,255,0.3);
        cursor: move;
      }
      &:hover .box {
        stroke: rgba(255,255,255,0.8);
      }
      .handles {
        overflow: visible;
      }
    }
    &.inactive {
      .inside, .handle {
        pointer-events: none;
      }
    }
  }
}
