# vim: ft=config:

# Django must be upgraded manually
django==2.1.2

# DJANGO PLUGINS
django-debug-toolbar
django-extensions
django-redis
django-webpack-loader
django-model-utils
sorl-thumbnail

# REST FRAMEWORK
djangorestframework
markdown
django-filter
django-url-filter
#-e git+git://github.com/haakenlid/django-url-filter@master#egg=django-url-filter
django-guardian
django-crispy-forms
django-rest-swagger

# AUTHENTICATION
django-rest-auth
django-allauth

# DATABASE LIBRARIES
psycopg2-binary
redis
hiredis

# AMAZON
# awscli
django-storages
boto3

# OTHER LIBRARIES
pillow
wand
cython
imagehash
beautifulsoup4
pypdf2
requests
requests-html
fuzzywuzzy
python-Levenshtein
diff-match-patch
awesome-slugify
faker
ftfy
piexif

# TASK RUNNER
celery
flower

# ERROR REPORTING
raven       # legacy sentry integration
sentry-sdk  # new sentry sdk for python

# WSGI WEB SERVER
uWSGI

# TESTING
pytest
pytest-xdist
pytest-django
selenium

# DEBUGGING AND DEVELOPMENT
werkzeug
ipdb
ipython
ptpython
