# vim: ft=config:

# FROZEN PACKAGES

# Django must be upgraded manually
django==1.11

# Breaking changes in version 3
# http://django-autocomplete-light.readthedocs.io/en/master/index.html
django-autocomplete-light==2.3.3

# Pypi package has not been updated in a long time
# https://github.com/jazzband/sorl-thumbnail/issues/507
sorl-thumbnail==12.4a1

# DJANGO PLUGINS
django-debug-toolbar
django-extensions
django-redis
django-webpack-loader

django-model-utils

# REST FRAMEWORK
djangorestframework
markdown
django-filter
django-url-filter
django-guardian
django-crispy-forms
django-rest-swagger

# AUTHENTICATION
django-rest-auth
django-allauth

# DATABASE LIBRARIES
psycopg2
redis
hiredis

# AMAZON
awscli
django-storages
boto

# OTHER LIBRARIES
pillow
wand
imagehash
beautifulsoup4
pypdf2
requests
fuzzywuzzy
python-Levenshtein
diff-match-patch
awesome-slugify
faker
ftfy

# TASK RUNNER
celery
flower

# ERROR REPORTING
raven

# WSGI WEB SERVER
uWSGI

# TESTING
pytest
pytest-xdist
pytest-django
selenium

# DEBUGGING AND DEVELOPMENT
werkzeug
ipdb
ipython
ptpython
