{% if user.is_anonymous %}
<!-- Google Analytics -->
<script>
  window.ga =
    window.ga ||
    function() {
      ;(ga.q = ga.q || []).push(arguments)
    }
  ga.l = +new Date()
  ga('create', 'UA-1579944-2', 'auto')
  ga('set', {
    title: document.title.replace(/ *\|.*/, ''),
    anonymizeIp: true,
    page: document.location.pathname,
  })
  // ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<!-- End Google Analytics -->
{% endif %}
