{% load universitas_menu %}
{% load thumbnail %}
<div class="menu-wrapper">
  <div class="menu-background"></div>
  <div class="menu-left">
    <div id="logo">
      <a href="/">{% include "universitas_logo.svg" %}</a>
    </div>
    <div class="logo-panel">
      <div class="row">
        <div class="panel-1">
          <p>Norges største studentavis</p>
          <p>Telefon: 22 85 33 36</p>
          <p>Postadresse: Boks 89 Blindern, 0314 Oslo</p>
          <p>Besøksadresse: Moltke Moes vei 33</p>
          <div class="follow-us">
            <a href="https://www.facebook.com/UniversitasOslo">
              <i class="icon -facebook"></i>
            </a>
            <a href="https://twitter.com/universitas_no">
              <i class="icon -twitter"></i>
            </a>
            <a href="mailto:universitas@universitas.no" title="universitas@universitas.no">
              <i class="icon -mail"></i>
            </a>
            <a href="tel:+4722853336" title="22 85 33 36">
              <i class="icon -phone"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-right">
    <div class="default-panel">
      <div class="row">
        <div class="medium-4 columns">
          <h2>Om Universitas</h2>
          <p>Universitas er Norges største studentavis.
          <p>Avisen har et opplag på 14 000, og kommer ut 35 ganger i året.

          <p>Universitas mottar støtte fra Studentsamskipnaden i Oslo og Akershus (SiO), og alle studenter som betaler semesteravgift er dermed med på å støtte Universitas økonomisk. Papirutgaven av Universitas distribueres rundt på læresteder tilknyttet SiO.

          <p><a href="{% url 'general_info' %}">Les mer</a>
        </div>
        <div class="medium-4 columns">
          <h2>Annonser i Universitas</h2>
          <p><a href="{% url 'ad_info' %}">Informasjon for annonsører <i class="icon -right"></i></a>
          <p><a href="{% url 'pub_plan' %}">Utgivelsesplan <i class="icon -right"></i></a>
        </div>
        <div class="medium-4 columns">
          <h2>PDF-arkiv</h2>
          <div>
            <a href="{% url 'pdf_archive' %}" >
              {% thumbnail latest_pdf.get_thumbnail '150' as thumb  %}
              <img class="faximile" src="{{ thumb.url }}" ></img>
              {% endthumbnail %}
            </a>
          </div>
        </div>
      </div>
    </div>
    <nav class="sections">
      {% for section in sections %}
        <div class="section-item {{ section.slug }}">
          <a href="{{ section.get_absolute_url }}">
          <span class="section-title">
            {{ section.title }}
          </span>
          </a>
        </div>
        <div class="section-panel">
          <div class="row">
            <div class="panel-2">
              <h2>Nyeste i {{ section.title }}</h2>
              {% top_stories section 3 "-publication_date" %}
            </div>
            <div class="panel-3">
              <h2>Mest lest i {{ section.title }}</h2>
              {% top_stories section 3 "-hot_count" %}
            </div>
          </div>
        </div>
      {% endfor %}
    </nav>
    <div id="search">
      <div class="search-icon">
        <i class="icon -search"></i>
      </div>
      <form class="search-form" action="{% url 'watson:search' %}">
        <input placeholder="Søk i universitas.no" class="search-input" type="text" name="q" value="{{ request.GET.q }}" >
        <input class='hidden-input' type="submit">
      </form>
    </div>
  </div>
</div>