{% extends "react-base.html" %}
{% load render_bundle from webpack %}
{% block head %}
  {{ ssr.headers.title | safe }}
  {{ ssr.headers.link | safe }}
  {{ ssr.headers.meta | safe }}
  <meta property="fb:app_id" content="{{ facebook.app_id }}" />
  <meta property="fb:pages" content="{{ facebook.page_id }}" />
  {% include "_google.analytics.tracker.html" %}
  {% include "_google.adsense.html" %}
  {% render_bundle "universitas" "css" %}
{% endblock %}
{% block content %}
<main id="ReactApp">{{ ssr.html | safe }}</main>
{% endblock content %}
{% block final %}
  {{ ssr.state | json_script:"redux-state" }}
  {% include "_facebook.sdk.html" %}
  {% render_bundle "universitas" "js" %}
{% endblock final %}
