@charset "UTF-8";

$header-font-family: $univ-condensed;
$header-font-weight: 700;
$header-font-style: normal;
$header-font-color: #333;
$header-line-height: 1.1;
$header-top-margin: .3rem;

$half-gutter: $column-gutter/2;
$separator-line: 1px solid #EEE;

$section-colors: (
  nyheter: #C44530,
  nett: #C44530,
  kultur: #6FAB50,
  anmeldelser: #6FAB50,
  debatt: #3B7E9C,
  side-2: #3B7E9C,
  magasin: #FFB653,
);

$light-grey: #999;
$medium-grey: #777;
$dark-grey: #333;
$medium-yellow: #FFB653;


@function color-get($section, $change: none) {
  $base-color: map-get($section-colors, $section);
  $color: none;
  @if $change == darker {
    $color: scale-color( $base-color, $lightness: -25%, $saturation: -15%);
  } @else if $change == lighter {
    $color: scale-color( $base-color, $lightness: 25%, $saturation: 15%);
  } @else {
    $color: $base-color;
  }
  @return $color
}

@mixin section-color( $section, $change: medium, $text: false) {
  $color: color-get($section, $change);
  @if $text {
    color: $color;
  } @else {
    background-color: $color;
  }
}

%faximile {
  box-shadow: 1px 4px 8px -1px rgba(0, 0, 0, 0.3);
}

%section-vignette-text {
  font-family: $univ-serif;
  font-weight: 700;
}

@mixin section-text-color {
  @each $section, $color in $section-colors{
    .#{$section} & {
      @include section-color($section, $text: true);
    }
  }
}

@mixin section-background-color {
  @each $section, $color in $section-colors{
    .#{$section} & {
      // @debug "section-background-color " + $section;
      @include section-color($section, $change: lighter, $text: false);
    }
  }
}
