@charset "UTF-8";

$header-font-family: $univ-condensed;
$header-font-weight: 700;
$header-font-style: normal;
$header-font-color: #333;
$header-line-height: 1.1;
$header-top-margin: .3rem;

$light-grey: #AAA;
$medium-grey: #777;
$dark-grey: #444;

$light-debatt: #449;
$medium-debatt: #338;
$dark-debatt: #225;
$contrast-debatt: #883;

$light-nyheter: #944;
$medium-nyheter: #800;
$dark-nyheter: #500;
$contrast-nyheter: #099;

$light-kultur: #494;
$medium-kultur: #080;
$dark-kultur: #050;
$contrast-kultur: #909;

$debatt: #3B7E9C;
$nyheter: #C44530;
$kultur: #6FAB50;
$magasin: #FFB653;