@charset "UTF-8";

$header-font-family: $univ-condensed;
$header-font-weight: 700;
$header-font-style: normal;
$header-font-color: #333;
$header-line-height: 1.1;
$header-top-margin: .3rem;

$debatt: #3B7E9C;
$nyheter: #C44530;
$kultur: #6FAB50;
$magasin: #FFB653;
$grey: #888888;

$light-grey: #AAA;
$medium-grey: #777;
$dark-grey: #444;

$light-debatt: #449;
$medium-debatt: $debatt;
$dark-debatt: #225;
$contrast-debatt: #883;

$light-nyheter: #944;
$medium-nyheter: $nyheter;
$dark-nyheter: #500;
$contrast-nyheter: #099;

$light-kultur: #494;
$medium-kultur: $kultur;
$dark-kultur: #050;
$contrast-kultur: #909;

$medium-magasin: $magasin;

%section-background-color {
  &.kultur{
    background-color: $medium-kultur;
  }
  &.nyheter{
    background-color: $medium-nyheter;
  }
  &.magasin{
    background-color: $medium-magasin;
  }
  &.debatt{
    background-color: $medium-debatt;
  }
}

%section-text-color {
  &.kultur{
    color: $medium-kultur;
  }
  &.nyheter{
    color: $medium-nyheter;
  }
  &.magasin{
    color: $medium-magasin;
  }
  &.debatt{
    color: $medium-debatt;
  }
}
