@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300|Roboto+Slab:700,400|Roboto:400,400italic,300italic,300);

$univ-sans: "Roboto", sans-serif;
$univ-serif: "Roboto Slab", serif;
$univ-condensed: "Roboto Condensed", sans-serif;