@charset "UTF-8";

.print-issue {
  position: relative;
  .frontpage {
    @extend %faximile;
    transition: all .1s ease-in-out;
    .faximile {
    }
  }

  &:hover {
    .frontpage {
      transform: scale(1.02);
    }
    .label {
      color: $dark-grey;
    }
  }

  .label {
    @extend %small-text;
    color: $light-grey;
    border-bottom: $separator-line;
    padding: .2rem 0;
    margin: .2rem 0;
    .number {
      font-weight: bold;
    }
    .date {
      float: right;
    }
  }
}