@charset "UTF-8";

.search-results {
  .wrapper {
    @extend .columns;
    @extend .small-12;
    @extend .medium-6;
    .search-result {
      padding-top: 5px;
      padding-bottom: 5px;
      border-top: $separator-line;
      height: 130px;
      overflow: hidden;
      &:hover{
        background: #FFA;
      }
      .image {
        float: left;
        margin-right: 10px;
      }
      .text{
        @extend %small-text;
        .info {
          font-size: smaller;
          // color: $light-grey;
        }
        h1 {
          margin: 0 0 .2em 0;
          font-size: 1rem;
          color: $dark-grey;
        }
        .lede {
          // @extend %small-text;
          color: $dark-grey;
          .section {
            color: $medium-grey;
            @include section-text-color;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}