@keyframes fadeFromBlack {
  0%,
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.FeedImage {
  display: flex;
  background: #ddf;
  flex: 1;
  .inner {
    height: 100%;
    width: 100%;
    animation: 300ms ease fadeFromBlack;
    min-height: 4rem;
  }
}
