@keyframes fadeFromBlack {
  0%,
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.FeedImage {
  display: flex;
  background: #ddf;
  flex: 1;
  flex-direction: column;
  .inner {
    flex: 1 1 5rem;
    animation: 300ms ease fadeFromBlack;
  }
}
