@import "styles/_common.scss";
$row-height: 12vh;

.FeedTerminator {
  border-top: 2px dashed #eee;
  color: #bbb;
  grid-column: 1/-1;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  padding-top: 10vh;
  height: 50vh;
  margin-top: 2rem;
}

.FeedItem {
  text-decoration: none;
  .Kicker,
  .Headline,
  .Lede,
  .Vignette {
    margin: 0.3rem;
  }
  .Vignette {
    font-size: 1rem;
    line-height: 1;
    font-family: $univ-serif;
    font-weight: 800;
    min-height: 2rem;
    position: relative;
    div {
      box-shadow: 0.05em 0.1em 0.2em 0 rgba(black, 0.2);
      position: absolute; // trick to fix android chrome render bug
      padding: 0.2em 0.3em;
    }
    color: white;
    justify-self: start;
    align-self: start;
  }
  .Kicker {
    font-family: $univ-condensed;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .Lede,
  .Headline,
  .Kicker {
    color: inherit;
  }
  .Headline {
    @extend %headline;
  }
  &:hover .Headline {
    // text-decoration: underline;
  }
  .Lede {
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 0;
  }
  display: grid;
}

.bg-white {
  color: inherit;
  background: white;
}
.bg-black {
  color: white;
  background: $dark-grey;
  .Headline {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.bg-section {
  color: white;
  background: #666;
  .Headline {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.layout-top {
  grid-template-rows: 1fr;
  .Vignette,
  .FeedImage {
    grid-area: 1/1/2/2;
  }
}
.layout-left {
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto 1fr;
  .Vignette,
  .FeedImage {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-right: 0.5rem;
  }
  .Lede,
  .Headline,
  .Kicker {
    grid-column: 2/3;
  }
}
.layout-behind {
  grid-template-rows: 1fr auto auto auto;
  text-shadow: rgba(black, 0.6) 0 0.1em 0.4em;
  &.bg-white {
    text-shadow: rgba(white, 0.4) 0 0 0.6em;
  }
  .Kicker,
  .Headline,
  .Lede {
    justify-self: center;
    text-align: center;
    grid-column: 1/2;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .Kicker {
    grid-row: 2/3;
  }
  .Headline {
    grid-row: 3/4;
  }
  .Lede {
    grid-row: 4/5;
  }
  .FeedImage,
  .Vignette {
    grid-area: 1/1/5/2;
    text-shadow: none;
  }
}

@each $section, $color in $section-colors {
  .section-#{$section} {
    &.bg-section {
      @include section-color($section, darker);
    }
    .bg-section {
      @include section-color($section, lighter);
    }
  }
}

.size-small {
  font-size: 1rem;
}
.size-medium {
  font-size: 1.3rem;
}
.size-large {
  font-size: 1.6rem;
}
.weight-bold {
  // bold is default
}
.weight-thin {
  .Headline {
    font-weight: 100;
  }
  .Kicker {
    // font-size: 1.2rem;
    font-weight: 100;
  }
}

.NewsFeed {
  font-family: $univ-sans;
  display: grid;
  overflow: hidden;
  grid-gap: $gridgap;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  // large screen
  @include min-size(s) {
    grid-auto-rows: minmax($row-height * 1, auto);
    grid-template-columns: repeat(6, 1fr);
    @for $n from 1 through 6 {
      .col-#{$n} {
        grid-column-end: span $n;
        .Headline {
          font-size: (1em + $n * 0.4em);
        }
      }
      .row-#{$n} {
        grid-row-end: span $n;
      }
    }
  }
  // mobile screen
  @include max-size(s) {
    grid-auto-rows: minmax($row-height * 1.8, auto);
    grid-template-columns: repeat(2, 1fr);
    @for $n from 1 through 8 {
      .col-#{$n} {
        grid-column-end: span if($n < 4, 1, 2);
        .Kicker {
          font-size: if($n < 4, 1.1rem, 1.4rem);
        }
        .Headline {
          font-size: if($n < 4, 1.4em, 1.8em);
        }
        &.layout-behind,
        &.layout-left {
          grid-column-end: span 2;
          .Headline {
            font-size: 1.8em;
          }
        }
      }
      .row-#{$n} {
        grid-row-end: span ceil($n / 2);
      }
    }
    .col-1,
    .col-2,
    .col-3,
    .row-1,
    .row-2 {
      &.layout-top {
        grid-row-end: span 2;
      }
    }
  }
  .FetchIndicator {
    line-height: 0;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: rgba(black, 0.3);
    justify-self: end;
    align-self: start;
  }
  .FeedEnd {
    grid-column: 1 /-1;
    text-align: center;
    opacity: 0.3;
    font-size: 120%;
    font-weight: 100;
    padding: 1em;
  }
  .ScrollSpy {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
  }
}
