{% load sekizai_tags %}
{% load staticfiles %}
{% load universitas_menu %}
<!DOCTYPE html>
<html class="no-js" lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}{% endblock head %}
    <title>{% block title %}universitas.no{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon_128.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/universitas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    {% endaddtoblock %}
    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>

    <!-- Google Analytics -->
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-1579944-2', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  </head>

  <body>
    <header id="sticky-top-menu" class="fixedsticky">
      {% universitas_menu "" %}
    </header>
    <main>
      <div class="content-wrapper">
        {% block columns %}{% endblock %}
        {% block content %}
        <p>Main content of page</p>
        {% endblock content %}
      </div>
    </main>
    {% block footer %}
    <footer>
      <div class="row">
        <div class="col medium-9 small-12 large-4"></div>
      </div>
    </footer>
    {% endblock footer %}
    {% addtoblock "js" %}
      <script src="{% static 'js/vendor/jquery.js' %}"></script>
      <script src="{% static 'js/foundation/foundation.js' %}"></script>
      <script src="{% static 'js/vendor/slick.js' %}"></script>
      <script src="{% static 'js/vendor/balancetext.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.sticky.js' %}"></script>
      {% include 'autocomplete_light/static.html' %}
    {% endaddtoblock %}
    {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
    <script> $(document).foundation(); </script>
    <script> $(document).ready(function(){
      $('.tingo').html(function(i, v) {
        return v.replace(
          /(^.{10}\S*)/,
          '<span class="inngangsord">$1</span>'
        );
      });
      $('.slideshow').slick({ dots:true, arrows:true });
      $(".sticky").sticky({topSpacing:35});
    });
    </script>
  </body>
</html>
