{% load cache %}
{% load staticfiles %}
{% load universitas_menu %}
<!DOCTYPE html>
<html class="no-js" lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}{% endblock head %}
    <title>{% block title %}universitas.no{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon_128.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/universitas.css' %}">
    <script src="{% static 'javascript/universitas_head.js' %}"></script>
  </head>

  <body>
    <header id="sticky-top-menu" class="fixedsticky">
      {% cache 600 top-menu %}
      {% universitas_menu "" %}
      {% endcache %}
    </header>
    <main>
      <div class="content-wrapper">
        {% block columns %}{% endblock %}
        {% block content %}
        <p>Main content of page</p>
        {% endblock content %}
      </div>
    </main>
    {% block footer %}
    <footer>
      <div class="row">
        <div class="col medium-9 small-12 large-4"></div>
      </div>
    </footer>
    {% endblock footer %}

    <script src="{% static 'javascript/vendor.js' %}"></script>
    {# // <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script> #}
    <script src="{% static 'javascript/universitas.js' %}"></script>
    {# {% include 'autocomplete_light/static.html' %} #}
  </body>
</html>
