{% extends "info-page.html" %}
{% load thumbnail %}
{% block title %}
  Om Universitas
{% endblock title %}
{% block main_content %}
<div class="row">
  <div class="small-12 columns">
    <h1>Om Universitas</h1>
    <p>Universitas er Norges største studentavis.
    <p>Avisen har et opplag på 14 000, og kommer ut 35 ganger i året.

    <p>Universitas mottar støtte fra Studentsamskipnaden i Oslo og Akershus (SiO), og alle studenter som betaler semesteravgift er dermed med på å støtte Universitas økonomisk. Papirutgaven av Universitas distribueres rundt på læresteder tilknyttet SiO.

    <p>Universitas legges også ut ved studentbyene under SiO. Redaksjonen består av fire heltidsansatte og en rekke journalister, fotografer, sideuttegnere etc. som jobber frilans.

    <p>Våre redaksjonslokaler finner du i andre etasje i Eilert Sunds barnehage, Moltke Moes vei 33.

    <p>Vil du abonnere og få Universitas hjem til deg eller til din arbeidsplass, ta kontakt med daglig leder Louise Faldalen Prytz på tlf. 22 85 33 36, eller se under for andre måter å komme i kontakt.
</div>
{% endblock main_content %}