@charset "UTF-8";

$light-grey: #999;
$medium-grey: #777;
$dark-grey: #333;
$medium-yellow: #ffb653;

$section-colors: (
  nyheter: #c44530,
  nett: #c44530,
  kultur: #6fab50,
  anmeldelser: #6fab50,
  debatt: #3b7e9c,
  side-2: #3b7e9c,
  magasin: #ffb653
);

@function color-get($section, $change: none) {
  $base-color: map-get($section-colors, $section);
  $color: none;
  @if $change == darker {
    $color: scale-color($base-color, $lightness: -25%, $saturation: -15%);
  } @else if $change == lighter {
    $color: scale-color($base-color, $lightness: 20%, $saturation: 25%);
  } @else {
    $color: $base-color;
  }
  @return $color;
}

.swatches {
  @each $section, $color in $section-colors {
    .#{$section} {
      border: 0.2em solid white;
      color: white;
      $medium: color-get($section, $change: medium);
      $dark: color-get($section, $change: darker);
      $light: color-get($section, $change: lighter);
      background-color: $medium;
      &:after {
        content: "#{$medium}";
      }
      &.dark {
        background-color: $dark;
        &:after {
          content: "#{$dark}";
        }
      }
      &.light {
        background-color: $light;
        &:after {
          content: "#{$light}";
        }
      }
    }
  }
}

@mixin section-color( $section, $change: medium, $text: false) {
  $color: color-get($section, $change);
  @if $text {
    color: $color;
  } @else {
    background-color: $color;
  }
}

@mixin section-text-color {
  @each $section, $color in $section-colors {
    .#{$section} & {
      @include section-color($section, $text: true);
    }
  }
}

@mixin section-background-color {
  @each $section, $color in $section-colors {
    $i: index(($section-colors),  ($section $color));
    &.section-#{$i} {
      @include section-color($section, lighter);
    }
    &.#{$section} {
      @include section-color($section, lighter);
    }
  }
}
