@import "_googlefonts.scss";
@import "_colors.scss";

$content-width: 1200px;
$row-height: 4rem;
$separator-line: 1px solid #eee;
$logowidth: 8.5rem;
$menuheight: 2rem;
$gridgap: 1rem;

%headline {
  font-family: $univ-condensed;
  font-weight: 600;
  font-style: normal;
  color: $dark-grey;
  margin-top: 0.3rem;
  line-height: 1;
}

%smaller {
  font-size: 0.9em;
  line-height: 1.2em;
  color: $medium-grey;
}

%faximile {
  box-shadow: 1px 4px 8px -1px rgba(0, 0, 0, 0.3);
}

%section-vignette-text {
  font-family: $univ-serif;
  font-weight: 700;
}

$breakpoints: (xs: 450px, s: 700px, m: 1000px, l: 1400px);

@mixin size($size) {
  @media only screen and (min-width: map_get($breakpoints, $size)) {
    @content;
  }
}
