.App {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  user-select: none;
  input,
  button {
    padding: 5px 10px;
    margin: 5px;
    background: white;
  }
  button {
    background: #bbf;
    cursor: pointer;
    &:hover {
      background: #fbb;
    }
  }

  .controlsPanel {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    background: #eee;
  }
  .mainPanel {
    .EditImage {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 2px dashed #ddd;
    }
    display: flex;
    padding: 5px;
    flex: 1;
  }
}
