@import "globals";

.DetailPanel {
  border-left: 1px solid #777;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .DetailTopBar {
    @extend %horizontal-bar;
    .title,
    .pk {
      margin: 0.5em;
      font-size: 1rem;
      align-self: center;
    }
    .title {
      flex: 1;
      width: 5rem;
      color: #bbb;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    .Tool {
      // @extend .AppButton;
      background-color: darken($horizontal-bar-color, 10);
      margin-left: 0.1em;
      height: 100%;
      width: $horizontal-bar-height;
      &:hover {
        color: white;
      }
    }
  }
  .panelContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    //background-color: #eee;
    padding: 0.2rem;
    overflow-y: auto;
  }
  .label {
    min-width: 7em;
  }
  .ModelField {
    &:not(:last-child) {
      padding-bottom: $margin;
      margin-bottom: $margin;
      border-bottom: 1px solid rgba(black, 0.1);
    }
    &.thumb {
      flex: unset;
    }
    &.shorttext {
      textarea {
        padding: 0.5em;
      }
    }
    &.text {
      flex: 1;
      flex-direction: column;
      textarea {
        padding: 0.5em;
        resize: none;
        flex: 1;
      }
    }
  }
}
