@import "globals";

.SideBar {
  display: flex;
  position: relative;
  z-index: 10;
  flex-direction: column;
  font-size: 3em;
  color: white;
  background-color: $darkgrey;
}

// .AppButton {
//   display: flex;
// }
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  width: 1.8em;
//  height: 1.8em;
//  color: inherit;
//  cursor: pointer;
//  &:hover, &:visited {
//    color: inherit;
//  }
//  &:hover {
//    background-color: #777;
//  }
//  &.active {
//    color: yellow;
//    background-color: #777;
//  }
//  small {
//    //text-transform: uppercase;
//    //font-weight: bold;
//    font-size: 0.25em;
//  }
//}

.UserTool {
  width: 1.5em;
  align-items: center;
  display: flex;
  flex-direction: column;
  .Avatar {
    border: 0.05em solid rgba(black, 0.2);
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin-bottom: 0.2rem;
    object-fit: cover;
  }
  .username,
  .button {
    font-size: 0.25em;
    width: 5.5em;
    margin-bottom: 0.5em;
    padding: 0.2em 0.5em;
  }
  .button {
    background-color: #222;
    color: white;
    padding: 0.5em;
    &:hover {
      background-color: red;
    }
  }
}
