$darkgrey: #555;

.SideBar {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  color: white;
  background-color: $darkgrey;
}

.AppButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.8em;
  height: 1.8em;
  color: inherit;
  cursor: pointer;
  &:hover, &:visited {
    color: inherit;
  }
  &:hover {
    background-color: #777;
  }
  &.active {
    color: yellow;
    background-color: #777;
  }
  small {
    //text-transform: uppercase;
    //font-weight: bold;
    font-size: 0.25em;
  }
}

.UserTool {
  font-size: 0.3em;
  align-items: center;
  display: flex;
  flex-direction: column;
  .username, .button {
    font-size: 0.9em;
    width: 5.5em;
    margin-bottom: 0.5em;
    padding: 0.2em 0.5em;
  }
  .button {
    font-size: 0.9em;
    background-color: #222;
    color: white;
    padding: 0.5em;
    &:hover {
      background-color: red;
    }
  }
}
