@import "globals";

.StoryDetail {
  background-color: #ccc;
  @each $status,
    $color in (0, $orange),
    (3, $green),
    (4, $green),
    (5, $green),
    (6, $lightgreen),
    (7, $palegreen),
    (9, $gray),
    (15, $black),
    (100, $pink) {
    &.status-#{$status} {
      background-color: scale-color($color, $saturation:70, $lightness: 70);
    }
  }
}
.ListPanel {
  user-select: none;
  .dirty {
    font-style: italic;
  }
}
.StoryTable {
  height: 0;
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 2fr auto;
  // grid-gap: 0 1px;
  th {
    padding: 0.4em 0.5em;
    text-align: left;
    // font-size: smaller;
    // font-weight: normal;
    // color: #999;
  }
  .ModelField {
    border: none;
    margin: 0;
    padding: 0;
  }
  .TableRow {
  }
  .TableCell {
    // word-break: break-word;
    // hyphens: auto;
    cursor: pointer;
    padding: 0.3rem;
  }

  @each $status,
    $color in (0, $orange),
    (3, $green),
    (4, $green),
    (5, $green),
    (6, $lightgreen),
    (7, $palegreen),
    (9, $gray),
    (15, $black),
    (100, $pink) {
    .status-#{$status} {
      background-color: lighten($color, 0%);
      &.odd {
        background-color: saturate(lighten($color, 10%), 20%);
      }
      &:hover {
        //background-color: darken($color, 15%);
        //text-decoration: underline;
      }
      &.selected {
        color: white;
        background-color: saturate(darken($color, 30%), 20%);
      }
    }
  }
}
