$green: #6c6;
$lightgreen: #ee6;
$palegreen: #dda;
$gray: #999;
$dullgreen: mix($green, $gray);
$pink: #f1c;
$orange: #77f;
$black: #222;

.ListPanel {
  user-select: none;
  .dirty {
    font-style: italic;
  }
  table{
    tr.TableRow {
      cursor: pointer;
      td {
        word-break: break-word;
        hyphens: auto;
        padding: .2em .5em;
      }
    }
    @each $status, $color in
    (0, $orange),
    (3, $green),
    (4, $green),
    (5, $green),
    (6, $lightgreen),
    (7, $palegreen),
    (9, $gray),
    (15, $black),
    (100, $pink),
    {
      .status-#{$status} {
        background-color: lighten($color, 0%);
        &:nth-child(even) {
          background-color: saturate(lighten($color, 10%), 20%);
        }
        &:hover {
          background-color: darken($color, 15%);
        }
        &.selected {
          color: white;
          background-color: saturate(darken($color, 30%), 20%);
        }
      }
    }
  }
}
