.ToolBar {
  display: flex;
  align-self: stretch;
  font-size: 1.5em;
  &.flexrow {
    flex-direction: row;
    .Tool {
      border-right-width: 1px;
    }
  }
  &.flexcolumn {
    flex-direction: column;
    .Tool {
      border-bottom: 1px;
    }
  }
}
$bwhite: rgba(white, 0.1);
$bblack: rgba(black, 0.2);

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  color: white;
  &.disabled {
    color: #ddd;
  }
  &.clickable {
    cursor: pointer;
    &:hover {
      box-shadow: inset 1000px 1000px 0 rgba(white, 0.2);
      //background: rgba(white, 0.2);
    }
  }
  &.spinning {
    svg {
      animation: spin 1s linear infinite;
    }
  }
  border: 2px solid;
  border-color: $bwhite $bblack $bblack $bwhite;
  border-opacity: 0.3;
  .toolLabel {
    font-size: 0.7rem;
  }
}
