@import "styles/_sanitize.scss";
@import "styles/_common.scss";

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: $univ-sans, sans-serif;
  font-size: 16px;
}

img,
iframe {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headline;
}

.Universitas {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.PageSwitch {
  flex: 1;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: minmax(auto, $content-width);
  .Page {
    margin: $pad;
    grid-area: 1/1/2/2;
    min-height: calc(100vh - #{$menuheight + $gridgap});
  }
}

.univTable {
  margin-bottom: 1rem;
  width: 100%;
  caption {
    @extend %headline;
    font-size: 1.3rem;
    margin: 0.5em;
  }
  th,
  td {
    text-align: left;
    padding: 0.2em 0.5em;
  }
  &.prices {
    th,
    td {
      text-align: left;
      &:not(:first-child) {
        width: 8rem;
        text-align: right;
      }
    }
  }
  thead {
    // background: lighten(#bbb, 10%);
  }
  tr {
    &:nth-child(even) {
      background: lighten(#bbb, 20%);
    }
  }
}
