@import "styles/_common.scss";

body {
  overflow-y: scroll;
  font-family: $univ-sans, sans-serif;
  font-size: 16px;
}

.Universitas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.Page {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  > * {
    padding: $gridgap/2 0;
    width: 100%;
    max-width: $content-width;
  }
}
