.FileInput {
  display: flex;
  flex-direction: column;
  &.dragOver {
    border-color: red;
    &.acceptFiles {
      border-color: limegreen;
    }
  }
  input[type="file"] {
    display: none;
  }
  .items {
    display: block;
  }
}
label.FileInput {
  cursor: pointer;
}
section.FileInput {
  border: 5px solid transparent;
}

.PhotoStats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .stat {
    padding: 0.2rem;
    font-size: 0.8rem;
    color: #555;
  }
}

.UploadItem {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #bbb;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  .static {
    display: flex;
    flex-direction: column;
    flex: 2;
    .Thumb {
      height: 10em;
      flex: 1;
    }
  }
  .dynamic {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  .Duplicates {
    display: flex;
    flex: 2;
    flex-direction: column;
  }
  .buttons {
    // width: 5rem;
    display: flex;
    flex-direction: column;
    button {
      padding: 1em;
      margin: 0.5em;
      background-color: #59f;
      &:hover {
        background-color: #6af;
      }
      cursor: pointer;
    }
  }
}
.Fingerprint {
  image-rendering: pixelated;
  width: 20px;
  cursor: zoom-in;
  transition: transform 100ms;
  &:hover {
    transform: scale(4);
  }
}
