{% extends "base-template.html" %}
{% load i18n static %}
{% load url from future %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}

{% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<table class= "form">

<tr>
<td style="width:25%" ><label for="id_old_password" class="required">{% trans 'Old password' %}:</label></td>
<td>{{ form.old_password }}</td>
<td>{{ form.old_password.errors }}</td>
</tr>

<tr>
<td><label for="id_new_password1" class="required">{% trans 'New password' %}:</label></td>
<td>{{ form.new_password1 }}</td>
<td>{{ form.new_password1.errors }}</td>
</tr>

<tr>
<td><label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></td>
<td>{{ form.new_password2 }}</td>
<td>{{ form.new_password2.errors }}</td>
</tr>
</table>

<input type="submit" value="{% trans 'Change my password' %}" class="button" />

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>

</form>


{% endblock %}
