{% load universitas_menu %}
<div class="menu-wrapper">
  <div class="menu-left">
    <div id="logo">
      <a href="/">{% include "universitas_logo.svg" %}</a>
    </div>
    <div class="logo-panel">
      <div class="row">
        <div class="panel-1">
          <p>Norges største studentavis</p>
          <p>Telefon: 22 85 33 36</p>
          <p>Postadresse: Boks 89 Blindern, 0314 Oslo</p>
          <p>Besøksadresse: Moltke Moes vei 33</p>
          <p style="font-size: 1.5rem;">
            <i class="icon-facebook"></i>
            <i class="icon-twitter"></i>
            <i class="icon-mail"></i>
            <i class="icon-telephone"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-right">
    <nav class="sections">
      {% for section in sections %}
        <div class="section-item {{ section.slug }}">
          <span class="section-title">{{ section.title }}</span>
        </div>
        <div class="section-panel">
          <div class="row">
            <div class="panel-2">
              <h2>Nyeste i {{ section.title }}</h2>
              {% top_stories section 5 "-publication_date" %}
            </div>
            <div class="panel-3">
              <h2>Mest lest i {{ section.title }}</h2>
              {% top_stories section 5 "-hot_count" %}
            </div>
          </div>
        </div>
      {% endfor %}
    </nav>
    <div id="search">
      <div class="search-icon">
        <i class="icon-search"></i>
      </div>
      <form class="search-form" action="{% url 'watson:search' %}">
        <input placeholder="Søk i universitas.no" class="search-input" type="text" name="q" value="{{ request.GET.q }}" >
        <input class='hidden-input' type="submit">
      </form>
    </div>
  </div>
</div>