.SearchField {
  flex: 1;
  minimum-width: 20em;
  display: flex;
  align-items: center;
  margin: 0.2em;
  input {
    flex: 1;
    border: 1px solid #999;
    padding: 0.1em 2em 0.1em 0.3em;
    border-radius: 0.2em;
    margin: 0.1em 0.2em;
  }
  .Throbber {
    font-size: 1.3em;
    color: #888;
    position: absolute;
    right: 1.6rem;
  }
  .ClearSearch {
    position: absolute;
    right: 0.5rem;
    color: #888;
    cursor: pointer;
    line-height: 0;
    &.disabled {
      opacity: 0.1;
    }
  }
}
