@import 'globals';
@import 'reset';
@import 'sidebar';
@import 'modal';
@import 'listpanel';
@import 'detailpanel';
@import 'gridview';
@import 'errors';
@import 'storylist';

body {
  overflow-y: auto;
}
.clickable {
  cursor: pointer;
}
.ProdSys {
  // main app container
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.Stint {
  // job at publication
  &.past {
    color: grey;
  }
  display: flex;
  .position {
    flex: 1;
    padding-right: 1em;
  }
  .fromdate {
  }
  .todate {
    &:before {
      content: '\0000a0–\0000a0';
    }
  }
}

.PdfLink {
  // icon to open pdf
  cursor: pointer;
  font-size: 2em;
  color: #888;
  &:hover {
    color: #aaa;
  }
}

.PhotoStats {
  //flex-basis: 20rem;
  background: $bordercolor;
  padding: 1px;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-gap: 1px 1px;
  /* prettier-ignore */
  grid-template-areas: 
    "filename filename filename filename" 
    "category artist artist artist"
    "mimetype size size filesize" 
    "usage created created id";
  .stat {
    @extend %label;
    background: white;
    text-align: center;
    font-size: 0.8rem;
    padding: $margin;
  }
}
