@import "globals";
@import "reset";
@import "sidebar";
@import "modal";
@import "listpanel";
@import "detailpanel";
@import "gridview";
@import "errors";
@import "storylist";

body {
  overflow-y: auto !important;
}
.clickable {
  cursor: pointer;
}
.ProdSys {
  // main app container
  display: flex;
  align-items: stretch;
  height: 100vh;
}
.Panel {
  flex: 1;
  align-self: flex-start;
  min-height: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 2fr;
  > section:not(:last-child) {
    border-bottom: 1px solid #333;
  }
}

.Stint {
  // job at publication
  &.past {
    color: grey;
  }
  display: flex;
  .position {
    flex: 1;
    padding-right: 1em;
  }
  .fromdate {
  }
  .todate {
    &:before {
      content: "\0000a0–\0000a0";
    }
  }
}

.PdfLink {
  // icon to open pdf
  cursor: pointer;
  font-size: 2em;
  color: #888;
  &:hover {
    color: #aaa;
  }
}

.PhotoStats {
  //flex-basis: 20rem;
  background: $bordercolor;
  padding: 1px;
  display: grid;
  grid-template-columns: 2rem 1fr 1fr auto;
  grid-gap: 1px 1px;
  /* prettier-ignore */
  grid-template-areas: 
    "filename filename filename filename" 
    "category artist artist artist"
    "mimetype size size filesize" 
    "usage created created id";
  .stat {
    @extend %label;
    background: white;
    text-align: center;
    font-size: 0.8rem;
    padding: $margin;
  }
}
