@import 'globals';

@function basecolor($color) {
  $hue: chromatic-color-get($color, 'hcl.h');
  @return chromatic-hcl($hue, 75, 85);
}

$blue: basecolor(#00f);
$cyan: basecolor(#0ff);
$green: basecolor(#0f2);
$limegreen: basecolor(#df0);
$yellow: basecolor(#ff0);
$red: basecolor(#f00);
$orange: basecolor(#fa0);
$pink: basecolor(#f05);
$black: #222;

$statusColors: (0, $cyan), (3, $green), (4, $green), (5, $green),
  (6, $limegreen), (7, $yellow), (9, $red), (10, $orange), (11, $orange),
  (15, $black), (100, $pink);

@mixin bgcol($bg) {
  background-color: $bg;
  &.odd {
    background-color: chromatic-color-darken($bg, 0.3);
  }
  @if (chromatic-color-luminance($bg) < 0.3) {
    color: #fff;
  }
}

.StoryDetail {
  background-color: #ccc;
  @each $status, $color in $statusColors {
    &.status-#{$status} {
      background-color: chromatic-mix(white, $color, 0.4);
    }
  }
}
.ListPanel {
  user-select: none;
  .dirty {
    // font-style: italic;
  }
}
.StoryTable {
  height: 0;
  display: grid;
  line-height: 1rem;
  grid-template-columns: 5fr 2fr 2fr 3fr auto 2rem;
  svg.syncing {
    transform-origin: 50% 50%;
    animation: spin 1s linear infinite;
  }
  .ModelField {
    border: none;
    margin: 0;
    padding: 0;
  }
  .TableRow {
  }
  .TableCell {
    cursor: pointer;
    padding: 0.3rem;
  }

  @each $status, $color in $statusColors {
    .status-#{$status} {
      @include bgcol($color);
      &.selected {
        background: chromatic-color-darken($color, 1.2);
        color: white;
      }
    }
  }
}
