<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var languages = {
    nb: 'nb_NO',
    nn: 'nn_NO',
    en: 'en_GB'
  }
  var language=languages['{{ story.language }}'];
  var appId='1936304073248701';
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/' + language + '/sdk.js' +
    '#xfbml=1&version=v2.11' + '&appId=' + appId;
  console.log(js.src)
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<p>{{ story.language }}</p>
<div
     class="fb-comments"
     data-href="{{ request.build_absolute_uri }}"
     data-width="100%"
     data-numposts="5"
>Kommentarer her</div>

