<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'universitas-no';
    var disqus_identifier = '{{ story.id }}';
    var disqus_title = '{{ story.title }}';
    var disqus_url = 'http://universitas.no{{ story.get_absolute_url }}';
    var disqus_config = function () { this.language = "{{ story.language }}"; };
    // var disqus_category_id = '{{ story.section.id }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
