{% extends "base-template.html" %}
{% load thumbnail %}
{% load byline_image %}
{% load inline_elements %}
{% load advert_channel %}
{% block title %}{{ story.title }} | universitas.no{% endblock title %}
{% block head %}
  {# <meta name="description" content="{{ story.lede }}" /> #}
  {# <meta name="author" content="{{ story.get_bylines }}" /> #}
  <meta property="og:title" content="{{ story.title }}" />
  <meta property="og:description" content="{{ story.lede }}" />
  <meta property="og:type" content="article" />
  {# <meta property="og:section" content="{{ story.section }}" /> #}
  {# <meta property="og:image" content="http://universitas.no{{ story.thumb }}" /> #}
  {# <link rel="canonical" href="http://universitas.no{{ story.get_absolute_url }}"> #}
  {# <link rel="shortlink" href="{{ story.get_shortlink }}"> #}
{% endblock head %}
{% block columns %}
  {% advert "story column left" %}
  {% advert "story column right" %}
{% endblock columns %}
{% block content %}
<div class="dateline">{{ story.publication_date | date:"D d. b Y" }}</div>
<div class="bylines">
  {% for byline in story.byline_set.ordered %}
  <div class="byline">
    <div class="byline-photo">
    </div>
  <div class="byline-text">
    <div class="credit">{{ byline.get_credit_display }}</div>
    <div class="name">{{ byline.contributor }}</div>
    {% if byline.title %}
      <div class="title">{{ byline.title }}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock content %}