{% extends "django-base.html" %}
{% load thumbnail %}
{% load byline_image %}
{% load inline_elements %}
{% load facebook_comments %}
{% load advert_channel %}
{% load parse_markup %}
{% block title %}{{ story.title }} | universitas.no{% endblock title %}
{% block head %}
  <link rel="canonical" href="{{request.build_absolute_uri}}" />
  <link rel="shortlink" href="{{request.scheme}}://{{request.get_host}}{{ story.get_shortlink }}" />
  <meta name="description" content="{{ story.lede }}" />
  <meta name="author" content="{{ story.get_bylines }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ story.title }}" />
  <meta property="og:description" content="{{ story.lede }}" />
  <meta property="og:locale" content="{{ story.language }}" />
  <meta property="og:updated_time" content="{{ story.modified|date:"c" }}" />
  {% if story.facebook_thumb %}<meta property="og:image" content="{{ story.facebook_thumb.url }}" />{% endif %}
  {% if story.publication_status != story.STATUS_PUBLISHED %}<meta name="robots" content="noindex" />{% endif %}
{% endblock head %}
{% block columns %}
  {% advert "story column left" %}
  {% advert "story column right" %}
{% endblock columns %}
{% block content %}
{% facebook_sdk %}
<div class="main-content">
  <article class="row {{ story.section.slug }}" id="story">
    <header class="small-12 columns">
{# Main image #}
      {% header_image %}
      <div class="header-text">
        {% if story.kicker %}
          <h2 id="kicker">{{ story.kicker | inline_tags }}</h2>
        {% endif %}
{# Main headline and lede #}
        <h1 class="headline">{{ story.title | inline_tags }}
        {% if perms.stories %}
        {% include "_story-edit-menu.html" with story=story %}
        {% endif %}
        </h1>
        {% if story.lede %}
          <p class="lede">{{ story.lede | inline_tags }}</p>
        {% endif %}
      </div>
    </header>
    <div class="left-sidebar small-12 medium-2 columns">
      <div class="story-info">
        <div class="artikkeltype {{ story.section.slug }}">
          {{ story.story_type.name }}
        </div>
        <div class="temaord">
          {{ story.theme_word }}
        </div>
      </div>
      <div class="dateline">{{ story.publication_date | date:"D d. b Y" }}</div>
      <div class="bylines">
        {% for byline in story.byline_set.ordered %}
        <div class="byline">
          <div class="byline-photo">
            {% byline_image byline.contributor "100x100" %}
          </div>
        <div class="byline-text">
            <div class="credit">{{ byline.get_credit_display }}</div>
            <div class="name">{{ byline.contributor }}</div>
            {% if byline.title %}
              <div class="title">{{ byline.title }}</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="social-share">
          <div class="share-icon">
             <a href="https://www.facebook.com/sharer/sharer.php?u=http://universitas.no{{ story.get_absolute_url }}"><i class="icon -facebook"></i></a>
          </div>
          <div class="share-icon">
             <a href="https://twitter.com/home?status={{ story.title }} {{ story.get_shortlink }}"><i class="icon -twitter"></i></a>
          </div>
          <div class="share-icon">
             <a href="https://plus.google.com/share?url=http://universitas.no{{ story.get_absolute_url }}"><i class="icon -googleplus"></i></a>
          </div>
          <div class="share-icon">
             <a href="#comments"><i class="icon -disqus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <main class="small-12 medium-10 columns">
     {{ story.get_html }}
    </main>
  </article>
  <section id="after-story" class="row">
    {% advert "story after" %}
    <div id="comments-left" class="show-for-large large-2 columns"></div>
    <div id="comments" class="large-10 columns">
      {% if story.comments_plugin == "disqus" %}
        {% include '_comments_disqus.html' %}
      {% elif story.comments_plugin == "facebook" %}
        {% facebook_comments %}
      {% elif story.comments_plugin == "off" %}
        <div><small>Kommentarer er skrudd av for denne artikkelen.</small></div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock content %}
