{% extends "base-template.html" %}
{% load thumbnail %}
{% load byline_image %}
{% load inline_elements %}
{% load advert_channel %}
{% block title %}{{ story.title }} | universitas.no{% endblock title %}
{% block head %}
  {% if story.publication_status != story.STATUS_PUBLISHED %}
  <meta name="robots" content="noindex" />{% endif %}
  <meta name="description" content="{{ story.lede }}" />
  <meta name="author" content="{{ story.get_bylines }}" />
  <meta property="og:title" content="{{ story.title }}" />
  <meta property="og:description" content="{{ story.lede }}" />
  <meta property="og:type" content="article" />
  <meta property="og:section" content="{{ story.section }}" />
  <meta property="og:image" content="http://universitas.no{{ story.thumb }}" />
  <link rel="canonical" href="http://universitas.no{{ story.get_absolute_url }}">
  <link rel="shortlink" href="{{ story.get_shortlink }}">
{% endblock head %}
{% block columns %}
  {% advert "story column left" %}
  {% advert "story column right" %}
{% endblock columns %}
{% block content %}
<div class="main-content">
  <article class="row {{ story.section.slug }}" id="story">
    <header class="small-12 columns">
{# Main image #}
      {% header_image %}
      <div class="header-text">
        {% if story.kicker %}
          <h2 id="kicker">{{ story.html.kicker }}</h2>
        {% endif %}
{# Main headline and lede #}
        <h1 class="headline">{{ story.html.title }}
        {% if perms.stories %}
        {% include "_story-edit-menu.html" with story=story %}
        {% endif %}
        </h1>
        {% if story.lede %}
          <p class="lede">{{ story.html.lede }}</p>
        {% endif %}
      </div>
    </header>
    <div class="left-sidebar medium-2 columns">
      <div class="story-info">
        <div class="artikkeltype {{ story.section.slug }}">
          {{ story.story_type.name }}
        </div>
        <div class="temaord">
          {{ story.theme_word }}
        </div>
      </div>
      <div class="dateline">{{ story.publication_date | date:"D d. b Y" }}</div>
      <div class="bylines">
        {% for byline in story.byline_set.ordered %}
        <div class="byline">
          <div class="byline-photo">
            {% byline_image byline.contributor "100x100" %}
          </div>
        <div class="byline-text">
            <div class="credit">{{ byline.get_credit_display }}</div>
            <div class="name">{{ byline.contributor }}</div>
            {% if byline.title %}
              <div class="title">{{ byline.title }}</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="social-share">
          <div class="share-icon">
             <a href="https://www.facebook.com/sharer/sharer.php?u=http://universitas.no{{ story.get_absolute_url }}"><i class="icon -facebook"></i></a>
          </div>
          <div class="share-icon">
             <a href="https://twitter.com/home?status={{ story.title }} {{ story.get_shortlink }}"><i class="icon -twitter"></i></a>
          </div>
          <div class="share-icon">
             <a href="https://plus.google.com/share?url=http://universitas.no{{ story.get_absolute_url }}"><i class="icon -googleplus"></i></a>
          </div>
          <div class="share-icon">
             <a href="#comments"><i class="icon -disqus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <main class="medium-10 columns">
     {{ story.get_html }}
    </main>
  </article>
  <section id="after-story" class="row">
    {% advert "story after" %}
    {% if story.disqus_enabled %}
      <div id="comments-left" class="show-for-large-up large-2 columns"></div>
      <div id="comments" class="large-10 columns">
        {% include '_disqus.html' %}
      </div>
    {% endif %}
  </section>
</div>
{% endblock content %}
