@import "styles/_common.scss";

.FetchMore {
  cursor: pointer;
  color: white;
  padding: 2em;
  background-color: black;
  grid-column: 1/6;
}

.NewsFeed {
  font-family: $univ-sans;
  display: grid;
  grid-gap: $gridgap;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax($row-height, auto);
  grid-auto-flow: dense;
  @for $n from 1 through 6 {
    .col-#{$n} {
      grid-column-end: span $n;
    }
    .row-#{$n} {
      grid-row-end: span $n;
    }
  }
  .Kicker,
  .Headline,
  .Lede,
  .Vignette {
    margin: 0.4rem;
  }
  .Vignette {
    @include section-background-color;
    background-color: #777;
    line-height: 1;
    font-family: $univ-serif;
    font-weight: 800;
    padding: 0.2em 0.3em;
    color: white;
    justify-self: start;
    align-self: start;
  }
  .Kicker {
    font-family: $univ-condensed;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .Headline {
    @extend %headline;
    font-size: 2.5rem;
  }
  .Lede {
    margin-top: 0;
  }
  .FeedItem {
    &:hover .Headline {
      text-decoration: underline;
    }
    text-decoration: none;
    color: inherit;
    background: white;
    display: grid;
    grid-template-rows: [image-start] 1fr [image-end title-start] auto
      [title-end];
    grid-template-columns: [image-start title-start] auto [image-end title-end];
    &.negative {
      background: $dark-grey;
      color: white;
      .Headline {
        color: inherit;
      }
    }
    .Vignette {
      grid-area: image;
    }
    .FeedImage {
      grid-area: image;
    }
  }
  .FeedEnd {
    grid-column: 1 /-1;
    text-align: center;
    opacity: 0.3;
    font-size: 120%;
    font-weight: 100;
    padding: 1em;
  }
}
