@import "styles/_common.scss";
.StoryImage {
  display: flex;
  width: 100%;
  flex-direction: column;
  .imgWrapper {
    flex: 1;
    min-height: 0;
    max-height: 85vh;
    img {
      width: 100%;
      height: auto;
    }
  }
  .Caption {
    @extend %smaller;
    margin: 0.2em 0;
    .stikk {
      text-transform: uppercase;
    }
    .creditline {
      float: right;
      text-transform: uppercase;
    }
  }
}
